Repository CMI-OSS/cbnu-alrami, pull requests merged in 2021-12, with the labels that each got.

#61 [mobile] 충림이 모바일 프로젝트 셋업
  .gitignore
  package.json
  packages/admin/src/App.tsx
  packages/admin/src/components/LoginForm/style.ts
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/Card/style.ts
  packages/admin/src/config/_mixin.tsx
  packages/admin/src/react-app-env.d.ts
  packages/mobile/.eslintrc.js
  packages/mobile/README.md
  packages/mobile/__tests__/mobile.test.js
  packages/mobile/babel.config.js
  packages/mobile/lib/mobile.js
  packages/mobile/package.json
  packages/mobile/public/index.html
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/components/.gitkeep
  packages/mobile/src/hooks/.gitkeep
  packages/mobile/src/index.tsx
  packages/mobile/src/utils/.gitkeep
  packages/mobile/tsconfig.json
  packages/mobile/webpack.config.js
  packages/shared/package.json
  packages/shared/src/styles/color.ts
  packages/shared/src/styles/globalStyle.ts
  tsconfig.paths.json
  yarn.lock
Labels: ⚙ Setting, 📱 Mobile

#45 [setting] 린트 및 코드 스타일 체크
  .eslintignore
  .eslintrc
  .github/ISSUE_TEMPLATE/---.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/don-t-worry-alone.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/sapjil.md
  .github/ISSUE_TEMPLATE/setting.md
  .github/ISSUE_TEMPLATE/share.md
  .github/ISSUE_TEMPLATE/suggest.md
  .nvmrc
  .vscode/settings.json
  package.json
  packages/admin/package.json
  packages/admin/src/__mocks__/noticeGroups.ts
  packages/admin/src/__mocks__/noticeScenarios.ts
  packages/admin/src/components/LoginForm/index.tsx
  packages/admin/src/pages/Home/index.tsx
  packages/admin/src/pages/Home/style.ts
  packages/admin/tsconfig.json
  packages/mobile/package.json
  packages/scraper/src/actions/types.ts
  packages/scraper/src/common/store.ts
  packages/scraper/src/scrapers/CafeteriaScraper/scripts/cafeteria.js
  packages/scraper/src/scrapers/NoticeScraper/scripts/경영대학/경영정보학과.js
  packages/scraper/src/scrapers/NoticeScraper/scripts/경영대학/경영정보학과_대학원.js
  packages/scraper/src/scrapers/NoticeScraper/scripts/경영대학/경영학부.js
  packages/scraper/src/scrapers/NoticeScraper/scripts/경영대학/국제경영학과.js
  packages/server/package.json
  yarn.lock
Labels: ⚙ Setting, 🎨 code style

#63 [admin] admin Redux Tool Kit 세팅
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/common/axios.ts
  packages/admin/src/store/index.ts
  packages/admin/src/store/loggerMiddleware.ts
  packages/admin/src/store/noticeSlice.ts
  yarn.lock
Labels: ⚙ Setting, 🤵‍♂️ Admin

#65 [admin] 관리자 페이지 세부사항 제작 PR 리펙토링
  packages/admin/src/__mockData__/collegeScheduleScenarios.ts
  packages/admin/src/__mockData__/domitoryRestaurantScenarios.ts
  packages/admin/src/__mockData__/index.ts
  packages/admin/src/__mockData__/noticeGroups.ts
  packages/admin/src/__mockData__/noticeScenarios.ts
  packages/admin/src/__mockData__/studentRestaurantScenarios.ts
  packages/admin/src/__mocks__/index.ts
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Scenario/Card/index.tsx
  packages/admin/src/components/Scenario/CardList/CardList.tsx
  packages/admin/src/components/Scenario/CardListContainer/index.tsx
  packages/admin/src/components/Scenario/NoticeCardList/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Scenario/index.ts
  packages/admin/src/components/Selector/index.tsx
  packages/admin/src/pages/Home/index.tsx
  packages/admin/src/utils/scraperContext.ts
  packages/admin/src/utils/scrapperContext.ts
  packages/admin/src/utils/statusContext.ts
Labels: ♻️ Refactor, 🤵‍♂️ Admin

#62 [admin] 관리자 페이지 세부 기능 개발
  packages/admin/src/__mockData__/collegeScheduleScenarios.ts
  packages/admin/src/__mockData__/domitoryRestaurantScenarios.ts
  packages/admin/src/__mockData__/index.ts
  packages/admin/src/__mockData__/noticeGroups.ts
  packages/admin/src/__mockData__/noticeScenarios.ts
  packages/admin/src/__mockData__/studentRestaurantScenarios.ts
  packages/admin/src/__mocks__/index.ts
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Scenario/Card/index.tsx
  packages/admin/src/components/Scenario/CardList/CardList.tsx
  packages/admin/src/components/Scenario/CardList/index.tsx
  packages/admin/src/components/Scenario/CardListContainer/index.tsx
  packages/admin/src/components/Scenario/CardListContainer/style.ts
  packages/admin/src/components/Scenario/NoticeCardList/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Scenario/index.ts
  packages/admin/src/components/Selector/index.tsx
  packages/admin/src/components/Selector/style.ts
  packages/admin/src/pages/Home/index.tsx
  packages/admin/src/pages/Home/style.ts
  packages/admin/src/utils/groupContext.ts
  packages/admin/src/utils/menuContext.ts
  packages/admin/src/utils/scraperContext.ts
  packages/admin/src/utils/statusContext.ts
  packages/shared/src/types/index.ts
  yarn.lock
Labels: ✨ Feature, 🤵‍♂️ Admin

#68 [setting] 안쓰는 파일 제거
  .DS_Store
  .gitignore
  yarn-error.log
Labels: ⚙ Setting

#71 [admin] CRA에서 웹팩으로 전환
  .eslintignore
  package.json
  packages/admin/babel.config.js
  packages/admin/craco.config.js
  packages/admin/package.json
  packages/admin/public/index.html
  packages/admin/tsconfig.base.json
  packages/admin/tsconfig.json
  packages/admin/webpack.config.js
  yarn.lock
Labels: 🤵‍♂️ Admin

#67 [admin] 관리자 페이지 context API를 Redux Tool Kit으로 리팩토링
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Scenario/CardList/index.tsx
  packages/admin/src/components/Scenario/CardListContainer/index.tsx
  packages/admin/src/components/Scenario/NoticeCardList/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Selector/index.tsx
  packages/admin/src/pages/Home/index.tsx
  packages/admin/src/store/index.ts
  packages/admin/src/store/scraperType.ts
  packages/admin/src/store/statusType.ts
  packages/admin/src/store/viewSlice.ts
  packages/admin/src/utils/groupContext.ts
  packages/admin/src/utils/scraperContext.ts
  packages/admin/src/utils/statusContext.ts
  packages/admin/tsconfig.json
Labels: ♻️ Refactor, 🤵‍♂️ Admin

#75 [admin] 학생식당 오타수정
  packages/admin/src/store/scraperType.ts
Labels: 🤵‍♂️ Admin

#73 [admin] google font 적용 및 select 태그 스타일 추가
  packages/admin/public/index.html
  packages/admin/src/App.tsx
  packages/admin/src/adminStyle.ts
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Selector/index.tsx
  packages/admin/src/components/Selector/style.ts
  packages/shared/src/styles/globalStyle.ts
Labels: 💄 UI/UX, 🤵‍♂️ Admin

#74 [scraper] 스크래퍼 충림이v1 DB연동
  packages/scraper/.env_guide
  packages/scraper/.eslintrc.js
  packages/scraper/package.json
  packages/scraper/src/actions/CalendarAction.ts
  packages/scraper/src/actions/types.ts
  packages/scraper/src/common/env.ts
  packages/scraper/src/common/store.ts
  packages/scraper/src/db/calendar.ts
  packages/scraper/src/db/index.ts
  packages/scraper/src/db/notice.ts
  packages/scraper/src/db/restaurant.ts
  packages/scraper/src/index.ts
  packages/scraper/src/interfaces/ActionInterfaces/CalendarInterface.ts
  packages/scraper/src/interfaces/index.ts
  packages/scraper/src/reducers/CalendarReducer.ts
  packages/scraper/src/reducers/index.ts
  packages/scraper/src/scrapers/CafeteriaScraper/index.ts
  packages/scraper/src/scrapers/CafeteriaScraper/scripts/cafeteria.js
  packages/scraper/src/scrapers/CalendarScraper/index.ts
  packages/scraper/src/scrapers/DomitoryScraper/index.ts
  packages/scraper/src/scrapers/DomitoryScraper/scripts/domitory.js
  packages/scraper/src/scrapers/NoticeScraper/index.ts
  packages/scraper/src/scrapers/NoticeScraper/scripts/test.ts
  packages/scraper/src/types/CafeteriaScript.ts
  packages/scraper/src/types/Calendar.ts
  packages/scraper/src/types/CalendarScript.ts
  packages/scraper/src/types/DomitoryFood.ts
  packages/scraper/src/types/DomitoryScript.ts
  packages/scraper/src/types/Menu.ts
  packages/scraper/src/types/Notice.ts
  packages/scraper/src/types/NoticeScript.ts
  packages/scraper/src/types/cafeteria/DateMenu.ts
  packages/scraper/src/types/cafeteria/WeekMenu.ts
  packages/scraper/src/types/index.ts
  packages/scraper/tsconfig.json
  yarn.lock
Labels: 🕸 Scraper, 🗃 Database

#78 [admin] 시나리오 카드 상태 수정 및 gray 컬러 통합
  packages/admin/src/__mockData__/collegeScheduleScenarios.ts
  packages/admin/src/__mockData__/domitoryRestaurantScenarios.ts
  packages/admin/src/__mockData__/noticeScenarios.ts
  packages/admin/src/__mockData__/studentRestaurantScenarios.ts
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Selector/index.tsx
  packages/admin/src/store/statusType.ts
  packages/shared/src/styles/color.ts
  packages/shared/src/styles/globalStyle.ts
Labels: 🎨 code style, ♻️ Refactor, 🤵‍♂️ Admin

#80 [admin] webpack 설정 변경
  package.json
  packages/admin/package.json
  packages/admin/webpack.config.js
Labels: ⚙ Setting, 🤵‍♂️ Admin

#81 [admin] 관리자 페이지 리팩토링
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/__mockData__/collegeScheduleScenarios.ts
  packages/admin/src/__mockData__/domitoryRestaurantScenarios.ts
  packages/admin/src/__mockData__/index.ts
  packages/admin/src/__mockData__/noticeGroups.ts
  packages/admin/src/__mockData__/noticeScenarios.ts
  packages/admin/src/__mockData__/studentRestaurantScenarios.ts
  packages/admin/src/components/LoginForm/style.ts
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/CardList/index.tsx
  packages/admin/src/components/Scenario/CardListContainer/index.tsx
  packages/admin/src/components/Scenario/NoticeCardList/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Scenario/ScenarioFilter/index.tsx
  packages/admin/src/components/Scenario/ScenarioFilter/style.ts
  packages/admin/src/components/Scenario/ScenarioGroupList/index.tsx
  packages/admin/src/components/Scenario/ScenarioGroupList/style.ts
  packages/admin/src/components/Scenario/ScenarioList/index.tsx
  packages/admin/src/components/Scenario/ScenarioList/style.ts
  packages/admin/src/components/Scenario/index.ts
  packages/admin/src/components/Scraper/index.tsx
  packages/admin/src/components/Scraper/style.ts
  packages/admin/src/components/Selector/index.tsx
  packages/admin/src/hooks/.gitkeep
  packages/admin/src/hooks/useQuery.ts
  packages/admin/src/lib/axios.ts
  packages/admin/src/lib/hash.ts
  packages/admin/src/lib/scenario.ts
  packages/admin/src/lib/scraper.ts
  packages/admin/src/pages/Home/index.tsx
  packages/admin/src/pages/ScraperPage/index.tsx
  packages/admin/src/store/index.ts
  packages/admin/src/store/noticeSlice.ts
  packages/admin/src/store/scraperType.ts
  packages/admin/src/store/statusType.ts
  packages/admin/src/store/viewSlice.ts
  packages/admin/src/types/index.ts
  packages/admin/webpack.config.js
  packages/scraper/src/db/calendar.ts
  packages/scraper/src/db/notice.ts
  packages/shared/src/styles/globalStyle.ts
  packages/shared/src/types/index.ts
  yarn.lock
Labels: ♻️ Refactor, 🤵‍♂️ Admin

#82 [mobile] webpack 설정 변경
  package.json
  packages/mobile/package.json
  packages/mobile/webpack.config.js
Labels: ⚙ Setting, 📱 Mobile

#90 [admin, moblie] react-hot-loader 적용
  package.json
  packages/admin/babel.config.js
  packages/admin/src/App.tsx
  packages/mobile/babel.config.js
  packages/mobile/src/App.tsx
  yarn.lock
Labels: ⚙ Setting, 📱 Mobile, 🤵‍♂️ Admin
