Repository CMI-OSS/cbnu-alrami, pull requests merged in 2021-11, with the labels that each got.

#33 [SETTING] scraper redux, redux-thunk 세팅
  packages/scraper/package.json
  packages/scraper/src/actions/CalendarAction.ts
  packages/scraper/src/actions/types.ts
  packages/scraper/src/common/http.ts
  packages/scraper/src/common/store.ts
  packages/scraper/src/index.ts
  packages/scraper/src/interfaces/ActionInterfaces/CalendarInterface.ts
  packages/scraper/src/reducers/CalendarReducer.ts
  packages/scraper/src/reducers/index.ts
  packages/scraper/src/scrapers/CalendarScraper/index.ts
  yarn.lock
Labels: setting, bug, 질문

#36 [admin] 관리자 페이지 기본 프로젝트 셋업
  .gitignore
  craco.alias.js
  package.json
  packages/admin/.eslintrc.js
  packages/admin/README.md
  packages/admin/__tests__/admin.test.js
  packages/admin/craco.config.js
  packages/admin/lib/admin.js
  packages/admin/package.json
  packages/admin/public/favicon.ico
  packages/admin/public/index.html
  packages/admin/public/logo192.png
  packages/admin/public/logo512.png
  packages/admin/public/manifest.json
  packages/admin/public/robots.txt
  packages/admin/src/App.tsx
  packages/admin/src/__mocks__/index.ts
  packages/admin/src/__mocks__/noticeScenarios.ts
  packages/admin/src/components/Scenario/Card/index.tsx
  packages/admin/src/components/Scenario/Card/style.ts
  packages/admin/src/components/Scenario/CardList/index.tsx
  packages/admin/src/components/Scenario/CardList/style.ts
  packages/admin/src/components/Scenario/index.ts
  packages/admin/src/config/_mixin.tsx
  packages/admin/src/globalStyle.ts
  packages/admin/src/hooks/.gitkeep
  packages/admin/src/index.tsx
  packages/admin/src/pages/Home.tsx
  packages/admin/src/react-app-env.d.ts
  packages/admin/src/utils/hash.ts
  packages/admin/tsconfig.json
  packages/mobile/package.json
  packages/scraper/__tests__/scraper.test.js
  packages/scraper/lib/scraper.js
  packages/server/package.json
  packages/shared/README.md
  packages/shared/__tests__/shared.test.js
  packages/shared/lib/shared.js
  packages/shared/package.json
  packages/shared/src/styles/index.ts
  packages/shared/src/types/index.ts
  tsconfig.paths.json
  yarn.lock
Labels: setting, admin

#50 [admin] 관리자 페이지 코드리뷰 반영 UI 리펙토링
  packages/admin/src/__mocks__/noticeScenarios.ts
  packages/admin/src/components/Navigation/index.jsx
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/Card/index.tsx
  packages/admin/src/components/Scenario/Card/style.ts
  packages/admin/src/components/Scenario/CardList/index.tsx
  packages/admin/src/components/Scenario/CardList/style.ts
  packages/admin/src/globalStyle.ts
  packages/admin/src/pages/Home/index.tsx
  packages/admin/src/pages/Home/style.ts
  packages/admin/src/utils/menuContext.ts
  packages/shared/src/types/index.ts
Labels: refactor, admin

#47 [admin] 로그인 페이지 UI 개발
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/components/LoginForm/index.tsx
  packages/admin/src/components/LoginForm/style.ts
  packages/admin/src/pages/Login.tsx
  packages/shared/src/styles/index.ts
  yarn.lock
Labels: feature, markup, style, admin

#51 [admin] 클래스명 해시화 함수 변경
  packages/admin/package.json
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/Card/style.ts
  packages/admin/src/components/Scenario/CardList/style.ts
  packages/admin/src/pages/Home/style.ts
  packages/admin/src/utils/hash.ts
Labels: refactor, admin

#60 [admin] 관리자 페이지 로그인 style.ts 파일에 hashClassNames 함수 적용
  packages/admin/src/components/LoginForm/style.ts
Labels: fix, admin
