Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-01, with the labels that each got.

#97 [setting] preinstall 명령어 추가
  package.json
Labels: ⚙ Setting

#95 [admin] react-router-dom 버전 업데이트
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Scenario/ScenarioFilter/index.tsx
  packages/admin/src/pages/ScraperPage/index.tsx
Labels: ♻️ Refactor, 🤵‍♂️ Admin

#94 [admin] 스크래퍼 관리 UI
  packages/admin/src/__mockData__/collegeScheduleScenarioQueue.ts
  packages/admin/src/__mockData__/domitoryRestarantScenarioQueue.ts
  packages/admin/src/__mockData__/index.ts
  packages/admin/src/__mockData__/noticeScenarioQueue.ts
  packages/admin/src/__mockData__/studentRestaurantScenarioQueue.ts
  packages/admin/src/components/Manager/ExcutionLog/index.tsx
  packages/admin/src/components/Manager/ExcutionLog/style.ts
  packages/admin/src/components/Manager/ScenarioQueue/index.tsx
  packages/admin/src/components/Manager/ScenarioQueue/style.ts
  packages/admin/src/components/Manager/ScraperManager/index.tsx
  packages/admin/src/components/Manager/ScraperManager/style.ts
  packages/admin/src/components/Manager/index.ts
  packages/admin/src/components/Scraper/index.tsx
  packages/admin/src/components/Scraper/style.ts
  packages/admin/src/components/Tooltip/index.tsx
  packages/admin/src/components/Tooltip/style.ts
  packages/admin/src/types/index.ts
  packages/shared/src/styles/color.ts
Labels: ✨ Feature, 💄 UI/UX, 🤵‍♂️ Admin
