Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-05, with the labels that each got.

#213 [server] 이미지 업로드, 학사 일정 API Swagger 적용
  packages/server/src/aws/aws.controller.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/schedule/dtos/get-schedules-request.dto.ts
  packages/server/src/schedule/schedule.controller.ts
Labels: 👋 self-approve, 🖥 Server, 📝 Docs

#212 [front] webpack -> vite 번들링 도구 마이그레이션
  package.json
  packages/admin/.gitignore
  packages/admin/README.md
  packages/admin/babel.config.js
  packages/admin/index.html
  packages/admin/package.json
  packages/admin/public/favicon.ico
  packages/admin/public/logo192.png
  packages/admin/public/logo512.png
  packages/admin/public/manifest.json
  packages/admin/public/robots.txt
  packages/admin/src/App.tsx
  packages/admin/src/index.tsx
  packages/admin/src/main.tsx
  packages/admin/src/vite-env.d.ts
  packages/admin/tsconfig.json
  packages/admin/tsconfig.node.json
  packages/admin/vite.config.ts
  packages/admin/webpack.config.js
  packages/mobile/.gitignore
  packages/mobile/babel.config.js
  packages/mobile/index.html
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/index.tsx
  packages/mobile/src/main.tsx
  packages/mobile/src/vite-env.d.ts
  packages/mobile/tsconfig.json
  packages/mobile/tsconfig.node.json
  packages/mobile/vite.config.ts
  packages/mobile/webpack.config.js
  yarn.lock
Labels: ⚙ Setting, ✨ Feature, ♻️ Refactor

#215 [admin] 관리자 추가 페이지 제작
  packages/admin/package.json
  packages/admin/src/components/AdminManagement/AdminCard/index.tsx
  packages/admin/src/components/AdminManagement/AdminJoin/index.tsx
  packages/admin/src/components/AdminManagement/AdminJoin/style.module.scss
  packages/admin/src/components/AdminManagement/AdminJoin/yup.ts
  packages/admin/src/components/AdminManagement/JoinForm/index.tsx
  packages/admin/src/components/AdminManagement/JoinForm/style.module.scss
  packages/admin/src/components/AdminManagement/NewAdmin/index.tsx
  packages/admin/src/components/AdminManagement/NewAdmin/style.module.scss
  packages/admin/src/components/AdminManagement/PasswordInput/index.tsx
  packages/admin/src/components/AdminManagement/PasswordInput/style.module.scss
  packages/admin/src/components/AdminManagement/Select/index.tsx
  packages/admin/src/components/AdminManagement/Select/style.module.scss
  packages/admin/src/components/AdminManagement/SelectedBoardList/index.tsx
  packages/admin/src/components/AdminManagement/SelectedBoardList/style.module.scss
  packages/admin/src/components/AdminManagement/TextInput/index.tsx
  packages/admin/src/components/AdminManagement/TextInput/style.module.scss
  packages/admin/src/components/AdminManagement/index.ts
  packages/admin/src/pages/AdminManagementPage/index.tsx
  packages/admin/src/styles/mixin.scss
  packages/admin/src/types/index.ts
  yarn.lock
Labels: ✨ Feature, 💄 UI/UX, 🤵‍♂️ Admin

#210 [server] response 세팅, board API 관련 리팩토링
  packages/server/src/board/board.service.ts
  packages/server/src/commons/exception/exception.response.ts
  packages/server/src/commons/filter/http.exception.filter.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server, ♻️ Refactor

#216 [mobile] redux 전역상태 구축
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/store/index.ts
  packages/mobile/src/store/statusSlice.ts
Labels: 📱 Mobile, ⭐ Important

#222 [setting] admin build 경로 변경
  deploy.sh
Labels: 👋 self-approve, ⚙ Setting, 🤵‍♂️ Admin

#221 [server] 공지사항 사이트 계층구조 조회 API
  .vscode/settings.json
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/board/board.repository.ts
  packages/server/src/board/dto/board.response.dto.ts
  packages/server/src/boardTree/boardTree.controller.ts
  packages/server/src/boardTree/boardTree.module.ts
  packages/server/src/boardTree/boardTree.repository.ts
  packages/server/src/boardTree/boardTree.service.ts
  packages/server/src/boardTree/dto/boardTree.all.response.dto.ts
  packages/server/src/boardTree/dto/boardTree.response.dto.ts
  packages/server/src/commons/entities/board.entity.ts
  packages/server/src/commons/entities/boardTree.entity.ts
  packages/server/src/commons/exception/exception.global.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#225 [server] Article Entity 생성
  packages/server/src/commons/entities/article.entity.ts
  packages/server/src/commons/entities/common.entity.ts
Labels: ⚙ Setting, 🖥 Server, 🗃 Database

#229 [server] Board_authority Entity 생성
  packages/server/src/commons/constants/enums.ts
  packages/server/src/commons/entities/board-authority.entity.ts
Labels: ⚙ Setting, 🖥 Server, 🗃 Database

#237 [setting] unstage files 제거하기위한 커맨드 추가
  deploy.sh
Labels: 👋 self-approve, ⚙ Setting

#217 [admin] 이미지 업로드 API 연동
  packages/admin/.env_guide
  packages/admin/package.json
  packages/admin/src/api/baseQuery.ts
  packages/admin/src/api/board.ts
  packages/admin/src/components/Atom/LoadingSpinner/index.tsx
  packages/admin/src/components/Atom/LoadingSpinner/style.module.scss
  packages/admin/src/components/Atom/ToastMsg/index.tsx
  packages/admin/src/components/Atom/ToastMsg/style.module.scss
  packages/admin/src/components/Atom/index.ts
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Editor/index.tsx
  packages/admin/src/components/Editor/style.module.scss
  packages/admin/src/components/ImgUpload/index.tsx
  packages/admin/src/components/ImgUpload/style.module.scss
  packages/admin/src/store/index.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 💄 UI/UX, 🤵‍♂️ Admin, ⭐ Important

#226 [mobile] 캠퍼스맵 디자인 수정
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/constructionList.ts
  packages/mobile/src/__mocks__/foodList.ts
  packages/mobile/src/__mocks__/imageList.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/menuList.ts
  packages/mobile/src/__mocks__/playList.ts
  packages/mobile/src/__mocks__/snackList.ts
  packages/mobile/src/components/atoms/icon/Close.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/Chips/index.tsx
  packages/mobile/src/components/molecules/MenuButtonList/index.tsx
  packages/mobile/src/components/templates/PlaceTemplate/index.tsx
  packages/mobile/src/components/templates/PlaceTemplate/style.module.scss
  packages/mobile/src/page/Category/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Place/index.tsx
  packages/mobile/src/page/Place/style.module.scss
  packages/mobile/src/store/index.ts
  packages/mobile/src/store/placeSlice.ts
  packages/mobile/src/store/statusSlice.ts
Labels: 📱 Mobile, ♻️ Refactor, 💄 UI/UX

#223 [server] 날씨 정보 가져오기 및 날씨 조회 API 구현
  packages/server/src/app.module.ts
  packages/server/src/commons/entities/weather.entity.ts
  packages/server/src/weather/dtos/create-weather.request.dto.ts
  packages/server/src/weather/dtos/get-weather.response.dto.ts
  packages/server/src/weather/weather.controller.ts
  packages/server/src/weather/weather.module.ts
  packages/server/src/weather/weather.repository.ts
  packages/server/src/weather/weather.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#224 [server] 데이터베이스 스키마 Entity 구현
  packages/server/src/commons/constants/enums.ts
  packages/server/src/commons/entities/article.entity.ts
  packages/server/src/commons/entities/board-authority.entity.ts
  packages/server/src/commons/entities/bookmark.entity.ts
  packages/server/src/commons/entities/certification.entity.ts
  packages/server/src/commons/entities/common.entity.ts
  packages/server/src/commons/entities/hit.entity.ts
  packages/server/src/commons/entities/image.entity.ts
  packages/server/src/commons/entities/notice-history.entity.ts
  packages/server/src/commons/entities/report.entity.ts
  packages/server/src/commons/entities/subscribe.entity.ts
Labels: ⚙ Setting, 🖥 Server, 🗃 Database

#228 [mobile] 스타일 변수 관리
  .eslintrc
  package-lock.json
  package.json
  packages/admin/package.json
  packages/admin/src/index.d.ts
  packages/mobile/src/components/atoms/BorderBox/index.tsx
  packages/mobile/src/components/atoms/icon/Info.tsx
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/styles/color.scss
  packages/mobile/src/styles/main.scss
  packages/mobile/src/styles/typographsy.scss
  yarn.lock
Labels: 💄 UI/UX

#247 [admin] 에디터 스타일 버그 발생
  packages/admin/src/components/Editor/style.module.scss
Labels: 👋 self-approve, 🤵‍♂️ Admin, 🐛 Bug

#240 [server] Entity 점검 및 보완
  packages/server/src/commons/entities/article.entity.ts
  packages/server/src/commons/entities/boardAuthority.entity.ts
  packages/server/src/commons/entities/boardTree.entity.ts
  packages/server/src/commons/entities/bookmark.entity.ts
  packages/server/src/commons/entities/certification.entity.ts
  packages/server/src/commons/entities/hit.entity.ts
  packages/server/src/commons/entities/image.entity.ts
  packages/server/src/commons/entities/noticeHistory.entity.ts
  packages/server/src/commons/entities/report.entity.ts
  packages/server/src/commons/entities/subscribe.entity.ts
Labels: ⚙ Setting, 🖥 Server, 🗃 Database

#245 [server] Pipe 전역 설정
  packages/server/src/admin/dto/adminCreate.dto.ts
  packages/server/src/auth/dto/adminCredential.dto.ts
  packages/server/src/auth/dto/adminLogin.dto.ts
  packages/server/src/auth/dto/token.dto.ts
  packages/server/src/board/board.controller.ts
  packages/server/src/board/dto/board.create.dto.ts
  packages/server/src/main.ts
  packages/server/src/schedule/dtos/get-schedules-request.dto.ts
  packages/server/src/user/dto/userCreate.dto.ts
  packages/server/src/weather/dtos/create-weather.request.dto.ts
Labels: 🖥 Server
