Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-11, with the labels that each got.

#572 [Admin] 건물 생성 페이지 만들기
  packages/admin/src/App.tsx
  packages/admin/src/api/place.ts
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Layout/Page/Navigation/Navigation.view.tsx
  packages/admin/src/components/PlaceManagement/AddForm/index.tsx
  packages/admin/src/components/PlaceManagement/AddForm/style.module.scss
  packages/admin/src/components/TextArea/index.tsx
  packages/admin/src/components/TextArea/style.module.scss
  packages/admin/src/hooks/useTextAreaAutoResize.ts
  packages/admin/src/pages/BoardPage/ArticleWrite/ArticleWrite.store.ts
  packages/admin/src/pages/PlaceManagementPage/Place.route.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceAdd/index.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceAdd/style.module.scss
  packages/admin/src/pages/PlaceManagementPage/PlaceAdd/yup.ts
  packages/admin/src/types/place.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🤵‍♂️ Admin

#574 [mobile] 학생회 공지사항
  packages/mobile/src/components/atoms/Image/style.module.scss
  packages/mobile/src/components/molecules/ImageSlider/index.tsx
  packages/mobile/src/components/molecules/ImageSlider/style.module.scss
  packages/mobile/src/components/molecules/Slider/index.tsx
  packages/mobile/src/components/molecules/Slider/style.module.scss
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Notice/Detail/style.module.scss
Labels: ✨ Feature, 📱 Mobile

#575 [mobile] 시간 표시 ux 향상
  packages/mobile/src/page/Notice/Article/index.tsx
  packages/mobile/src/type/apiTypes/article.d.ts
  packages/mobile/src/utils/day.ts
Labels: 📱 Mobile

#577 [mobile] 슬라이더 비율 수정
  packages/mobile/src/components/atoms/Image/style.module.scss
  packages/mobile/src/page/Notice/Detail/style.module.scss
Labels: 👋 self-approve, 📱 Mobile

#578 [mobile] 로딩 분기처리
  packages/mobile/index.html
  packages/mobile/src/page/Notice/ArticleList/index.tsx
  packages/mobile/src/page/Notice/Category/style.module.scss
  packages/shared/src/styles/global.scss
Labels: 📱 Mobile
