Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-10, with the labels that each got.

#549 [mobile] 전역 scss 설정
  packages/mobile/src/components/atoms/Button/style.module.scss
  packages/mobile/src/components/atoms/ErrorFallback/style.module.scss
  packages/mobile/src/components/atoms/Line/style.module.scss
  packages/mobile/src/components/atoms/Loading/style.module.scss
  packages/mobile/src/components/atoms/MenuButton/style.module.scss
  packages/mobile/src/components/atoms/NavigationLink/style.module.scss
  packages/mobile/src/components/atoms/SuspenseFallback/style.module.scss
  packages/mobile/src/components/molecules/CafeteriaMenuCard/style.module.scss
  packages/mobile/src/components/molecules/CalendarHeader/style.module.scss
  packages/mobile/src/components/molecules/ChipGroup/style.module.scss
  packages/mobile/src/components/molecules/ImageList/style.module.scss
  packages/mobile/src/components/molecules/MapHeader/style.module.scss
  packages/mobile/src/components/molecules/MenuList/style.module.scss
  packages/mobile/src/components/molecules/RadioSelect/style.module.scss
  packages/mobile/src/components/templates/DefaultPageTemplate/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/components/templates/Modal/style.module.scss
  packages/mobile/src/page/Cafeteria/CafateriaBody/style.module.scss
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Calendar/CollegeCard/style.module.scss
  packages/mobile/src/page/Calendar/Date/style.module.scss
  packages/mobile/src/page/Calendar/Day/style.module.scss
  packages/mobile/src/page/Calendar/PersonalCard/style.module.scss
  packages/mobile/src/page/Calendar/RadioButton/style.module.scss
  packages/mobile/src/page/Calendar/ScheduleCalendar/style.module.scss
  packages/mobile/src/page/Calendar/style.module.scss
  packages/mobile/src/page/Home/Notice/style.module.scss
  packages/mobile/src/page/Home/Restaurant/EmptyCafeteria/style.module.scss
  packages/mobile/src/page/Home/Restaurant/FinalGuide/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Greeting/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/Restaurant/style.module.scss
  packages/mobile/src/page/Home/Schedule/style.module.scss
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
  packages/mobile/src/page/Home/Weather/style.module.scss
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/Info/style.module.scss
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Notice/Article/style.module.scss
  packages/mobile/src/page/Notice/Category/style.module.scss
  packages/mobile/src/page/Notice/Detail/DeepLink/style.module.scss
  packages/mobile/src/page/Notice/Detail/style.module.scss
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/DetailGroup/style.module.scss
  packages/mobile/src/page/Place/Error/style.module.scss
  packages/mobile/src/page/Place/Report/style.module.scss
  packages/mobile/src/page/Setting/Cafeteria/style.module.scss
  packages/mobile/src/page/Setting/Contact/style.module.scss
  packages/mobile/src/page/Setting/Creator/style.module.scss
  packages/mobile/src/page/Setting/Main/style.module.scss
  packages/mobile/src/page/Setting/Menu/style.module.scss
  packages/mobile/src/page/Subscription/Selector/style.module.scss
  packages/mobile/src/page/Subscription/style.module.scss
  packages/mobile/vite.config.ts
Labels: ⚙ Setting, ♻️ Refactor

#552 [mobile] 공지사항 상세페이지 외부 링크 연결
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Subscription/Preview/index.tsx
  packages/mobile/src/type/apiTypes/article.d.ts
Labels: 👋 self-approve, 📱 Mobile

#554 [mobile] 공지사항 미리보기 > 공지사항 클릭 시 홈으로 가는 버그
  packages/mobile/src/page/Notice/Article/index.tsx
  packages/mobile/src/page/Notice/style.module.scss
Labels: 👋 self-approve, 🐛 Bug

#558 [mobile] Footer 클립보드복사 baseApp not defined
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/utils/webview.ts
Labels: 🐛 Bug

#561 [server] 특정 공지사항 상세 정보 API res 추가
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.dto.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#563 [mobile] 공지사항 버그
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/NavigationLink/index.tsx
  packages/mobile/src/components/molecules/Footer/index.tsx
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/constants.ts
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/Subscription/index.tsx
  packages/mobile/src/page/Subscription/Preview/index.tsx
  packages/mobile/src/page/Subscription/SubscriptionModalTemplate.tsx
Labels: 🐛 Bug

#564 공지사항 상세 페이지 이미지 보이는 경우 추가
  packages/mobile/src/components/atoms/Image/index.tsx
  packages/mobile/src/components/atoms/Image/style.module.scss
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/components/molecules/ImageSlider/index.tsx
  packages/mobile/src/components/molecules/ImageSlider/style.module.scss
  packages/mobile/src/hooks/api/boardTree/index.ts
  packages/mobile/src/page/Notice/ArticleList/index.tsx
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Notice/Detail/style.module.scss
Labels: ✨ Feature, 📱 Mobile
