Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-02, with the labels that each got.

#100 [admin] useRouteMatch 대체
  packages/admin/src/components/Manager/ScraperManager/index.tsx
  packages/admin/src/components/Scraper/index.tsx
  yarn.lock
Labels: 🤵‍♂️ Admin, 🐛 Bug

#104 [scrapers] PR 102 데이터 처리 추가
  packages/scraper/src/index.ts
  packages/scraper/src/scrapers/CovidScraper/index.ts
  packages/scraper/src/scrapers/CovidScraper/scripts/covid.js
Labels: 🕸 Scraper, ♻️ Refactor

#102 [scrapers] 청주시 코로나 확진자 수 및 거리두기수칙(운영시간) 스크래퍼 제작
  packages/scraper/src/index.ts
  packages/scraper/src/scrapers/CovidScraper/index.ts
  packages/scraper/src/scrapers/CovidScraper/scripts/covid.js
Labels: ✨ Feature, 🕸 Scraper

#105 [admin] 게시물 작성 네비게이션 바 & 제목
  packages/admin/src/App.tsx
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Board/BoardWrite/style.ts
  packages/admin/src/components/Board/index.tsx
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/ScenarioFilter/index.tsx
  packages/admin/src/components/Scenario/ScenarioGroupList/index.tsx
  packages/admin/src/hooks/index.ts
  packages/admin/src/hooks/useWindowResize.ts
  packages/admin/src/lib/debounce.ts
  packages/admin/src/pages/BoardPage/index.tsx
  packages/admin/src/pages/ScraperPage/index.tsx
Labels: 💄 UI/UX, 🤵‍♂️ Admin
