Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-08, with the labels that each got.

#367 [mobile] 공지사항 미리보기 페이지
  .eslintrc
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/notificationList.ts
  packages/mobile/src/api/article.ts
  packages/mobile/src/assets/guide_empty_subscription.png
  packages/mobile/src/assets/guide_empty_subscription_setting.png
  packages/mobile/src/components/atoms/Card/index.tsx
  packages/mobile/src/components/molecules/CardList/index.tsx
  packages/mobile/src/components/molecules/CardList/style.module.scss
  packages/mobile/src/page/Notice/Category/index.tsx
  packages/mobile/src/page/Notice/Category/style.module.scss
  packages/mobile/src/page/Notice/Notification/index.tsx
  packages/mobile/src/page/Notice/Notification/style.module.scss
  packages/mobile/src/page/Notice/NotificationList/index.tsx
  packages/mobile/src/page/Notice/NotificationList/style.module.scss
  packages/mobile/src/page/Notice/index.tsx
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Subscription/College.tsx
  packages/mobile/src/page/Subscription/End.tsx
  packages/mobile/src/page/Subscription/Major.tsx
  packages/mobile/src/page/Subscription/Preview.tsx
  packages/mobile/src/page/Subscription/Setting/index.tsx
  packages/mobile/src/page/Subscription/Setting/style.module.scss
  packages/mobile/src/page/Subscription/style.module.scss
  packages/mobile/src/type/apiTypes/article.d.ts
Labels: ✨ Feature, 📱 Mobile

#374 [mobile] 일정 페이지에서 개인일정을 즐겨찾기로 대체하기
  packages/mobile/src/__mocks__/schedules.ts
  packages/mobile/src/assets/guide_empty_favorites_schedule.png
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Calendar/RadioBox/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/utils/calendarTools.ts
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#378 [mobile] 일정 페이지 폰트에 typography mixin 적용
  packages/mobile/src/page/Calendar/CollegeCard/style.module.scss
  packages/mobile/src/page/Calendar/PersonalCard/style.module.scss
Labels: 👋 self-approve, ♻️ Refactor, 💄 UI/UX

#380 [server] article 상세 정보 조회 API response에 image 추가
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.dto.ts
  packages/server/src/articleImage/articleImage.service.ts
  packages/server/src/image/dto/image.response.dto.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#379 [server] FK에 onDelete CASCADE 설정
  packages/server/src/commons/entities/boardAuthority.entity.ts
  packages/server/src/commons/entities/boardTree.entity.ts
  packages/server/src/commons/entities/bookmark.entity.ts
  packages/server/src/commons/entities/cafeteriaMenu.entity.ts
  packages/server/src/commons/entities/certification.entity.ts
  packages/server/src/commons/entities/hit.entity.ts
  packages/server/src/commons/entities/noticeHistory.entity.ts
  packages/server/src/commons/entities/report.entity.ts
  packages/server/src/commons/entities/subscribe.entity.ts
Labels: 🖥 Server, 🗃 Database

#384 [server] article 상세 정보 조회 API response 필드 수정
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.create.dto.ts
  packages/server/src/article/dtos/article.dto.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#355 [server] 유저 정보 저장 로직 및 FCM PUSH 알람 연결
  packages/server/src/article/article.module.ts
  packages/server/src/article/article.service.ts
  packages/server/src/commons/entities/user.entity.ts
  packages/server/src/commons/middlewares/auth.middleware.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/fcm/fcm.service.ts
  packages/server/src/subscribe/subscribe.repository.ts
  packages/server/src/user/dto/userCreate.dto.ts
  packages/server/src/user/repository/user.repository.ts
  packages/server/src/user/user.service.ts
Labels: ✨ Feature, 🖥 Server, ♻️ Refactor

#385 [server] 요청 크기 제한 늘리기
  packages/server/src/main.ts
Labels: ⚙ Setting, 🖥 Server

#322 [mobile] redux-persist 연동
  packages/mobile/package.json
  packages/mobile/src/__mocks__/convenientList.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/components/molecules/Chips/index.tsx
  packages/mobile/src/components/molecules/Chips/style.module.scss
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Place/index.tsx
  packages/mobile/src/store/index.ts
Labels: ⚙ Setting, 📱 Mobile

#352 [mobile] 설정 문의하기
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/icon/Subscribe.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/templates/Modal/index.tsx
  packages/mobile/src/components/templates/Modal/style.module.scss
  packages/mobile/src/constants/index.ts
  packages/mobile/src/constants/settingMenuList.ts
  packages/mobile/src/page/Setting/Main/index.tsx
  packages/mobile/src/page/Setting/SettingMenu/index.tsx
  packages/mobile/src/page/SettingCafeteria/index.tsx
  packages/mobile/src/page/SettingCafeteria/style.module.scss
  packages/mobile/src/page/SettingContact/index.tsx
  packages/mobile/src/page/SettingContact/style.module.scss
  packages/mobile/src/store/index.ts
  packages/mobile/src/store/settingSlice.ts
Labels: 📱 Mobile, 💄 UI/UX

#386 [mobile] gtag 추가
  packages/mobile/index.html
Labels: 👋 self-approve, 📱 Mobile

#371 [server] 구독 & 알림 신청한 게시판 목록 조회 API response에 parent 필드 추가
  packages/server/src/subscribe/dtos/subscribe.dto.ts
  packages/server/src/subscribe/subscribe.service.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#388 [mobile] atomic 디자인에 맞게 상태 로직 제거 필요
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/menuList.ts
  packages/mobile/src/components/molecules/ChipGroup/index.tsx
  packages/mobile/src/components/molecules/ChipGroup/style.module.scss
  packages/mobile/src/components/molecules/Chips/index.tsx
  packages/mobile/src/components/molecules/Chips/style.module.scss
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/index.tsx
  packages/mobile/src/store/placeSlice.ts
Labels: ♻️ Refactor, 💄 UI/UX

#348 [server] 게시글 북마크 on 기능 구현
  .eslintrc
  .yarn/releases/yarn-stable-temp.cjs
  packages/server/src/article/article.module.ts
  packages/server/src/bookmark/bookmark.controller.ts
  packages/server/src/bookmark/bookmark.module.ts
  packages/server/src/bookmark/bookmark.repository.ts
  packages/server/src/bookmark/bookmark.service.ts
  packages/server/src/commons/exception/exception.global.ts
  packages/server/src/subscribe/subscribe.controller.ts
  yarn.lock
Labels: ✨ Feature, 🖥 Server

#399 [server] 서버 에러 로그 메시지
  packages/server/src/commons/filter/http.exception.filter.ts
Labels: 🖥 Server

#400 [server] fcm_token을 nullable로 변경
  packages/server/src/commons/entities/user.entity.ts
Labels: 🖥 Server

#401 [server] parent_board_id ManyToOne으로 변경
  packages/server/src/commons/entities/boardTree.entity.ts
Labels: 🖥 Server

#405 [server] 불필요한 decorate 삭제
  packages/server/src/admin/admin.controller.spec.ts
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/admin.service.spec.ts
  packages/server/src/admin/admin.service.ts
  packages/server/src/article/article.controller.ts
  packages/server/src/auth/auth.controller.spec.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.service.spec.ts
  packages/server/src/board-authority/board-authority.controller.ts
  packages/server/src/boardTree/boardTree.controller.ts
  packages/server/src/bookmark/bookmark.controller.ts
  packages/server/src/cafeteria/cafeteria.controller.ts
  packages/server/src/commons/decorators/Authorities.decorator.ts
  packages/server/src/commons/decorators/PageQuery.decorator.ts
  packages/server/src/commons/decorators/Private.decorator.ts
  packages/server/src/commons/decorators/admin-session.decorator.ts
  packages/server/src/commons/decorators/public.decorator.ts
  packages/server/src/commons/decorators/user-session.decorator.ts
  packages/server/src/image/image.controller.ts
  packages/server/src/schedule/schedule.controller.ts
  packages/server/src/subscribe/subscribe.controller.ts
  packages/server/src/user/user.service.spec.ts
  packages/server/src/weather/weather.controller.ts
Labels: 🖥 Server

#402 [server] article 리스트 조회 관련 API에 페이지네이션 적용
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.repository.ts
  packages/server/src/article/article.service.ts
  packages/server/src/commons/entities/board.entity.ts
  packages/server/src/commons/page/page.request.ts
  packages/server/src/commons/page/page.response.ts
  packages/server/src/commons/page/page.ts
Labels: ✨ Feature, 👽 API, 🖥 Server, ♻️ Refactor

#393 [server] 학사일정 추가 API 구현
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/schedule/dtos/create-schedules-request.dto.ts
  packages/server/src/schedule/schedule.controller.ts
  packages/server/src/schedule/schedule.repository.ts
  packages/server/src/schedule/schedule.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#408 [server] Module Inject 구조 리팩토링
  packages/server/src/article/article.module.ts
  packages/server/src/articleImage/articleImage.module.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/board/board.module.ts
  packages/server/src/boardTree/boardTree.module.ts
  packages/server/src/bookmark/bookmark.module.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/image/image.module.ts
  packages/server/src/place/place.module.ts
  packages/server/src/subscribe/subscribe.module.ts
Labels: ⚙ Setting, ♻️ Refactor

#370 [mobile] 공지사항 상세페이지
  .yarn/releases/yarn-stable-temp.cjs
  packages/admin/src/api/board.ts
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/notificationList.ts
  packages/mobile/src/api/article.ts
  packages/mobile/src/components/atoms/icon/Internet.tsx
  packages/mobile/src/components/atoms/icon/Share.tsx
  packages/mobile/src/components/atoms/icon/Star.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Notice/Category/index.tsx
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/Footer/style.module.scss
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Notice/Detail/style.module.scss
  packages/mobile/src/page/Notice/NotificationList/index.tsx
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Subscription/Setting/style.module.scss
  packages/mobile/src/type/apiTypes/article.d.ts
  yarn.lock
Labels: ✨ Feature, 📱 Mobile

#403 [mobile] RN과 프론트 연결
  packages/mobile/package.json
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/type/global.d.ts
  yarn.lock
Labels: ✨ Feature, 📱 Mobile, :smile: App

#424 [server] 인기 / 최신 / 북마크 공지사항 조회 API res 수정
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.repository.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.list.dto.ts
  packages/server/src/commons/page/page.request.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#376 [mobile] 일정 페이지 schedules API 연동
  packages/mobile/src/__mocks__/schedules.ts
  packages/mobile/src/api/scheduleCalendar.ts
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Calendar/style.module.scss
  packages/mobile/src/page/Calendar/useAllSchedules.ts
  packages/mobile/src/utils/calendarTools.ts
Labels: 📱 Mobile, 👽 API

#434 [server] 특정 공지사항 상세 정보 API res에 로그인 유저 북마크 여부 추가
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.dto.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#420 [mobile] 홈 오늘의 일정 카드 스타일링
  packages/mobile/src/__mocks__/schedules.ts
  packages/mobile/src/page/Home/Schedule/index.tsx
  packages/mobile/src/page/Home/Schedule/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/utils/calendarTools.ts
Labels: 📱 Mobile, 💄 UI/UX

#436 [mobile] 스타일 사이드 이펙트 수정
  packages/mobile/src/page/Subscription/Setting/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug

#426 [mobile] 공지사항 기능보완
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/notificationList.ts
  packages/mobile/src/api/article.ts
  packages/mobile/src/api/subscribe.ts
  packages/mobile/src/assets/guide_empty_bookmark.png
  packages/mobile/src/assets/guide_empty_notice.png
  packages/mobile/src/components/atoms/Line/index.tsx
  packages/mobile/src/components/atoms/Line/style.module.scss
  packages/mobile/src/page/Home/Notice/index.tsx
  packages/mobile/src/page/Home/Notice/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/page/Notice/Article/index.tsx
  packages/mobile/src/page/Notice/Article/style.module.scss
  packages/mobile/src/page/Notice/ArticleList/index.tsx
  packages/mobile/src/page/Notice/ArticleList/style.module.scss
  packages/mobile/src/page/Notice/Category/index.tsx
  packages/mobile/src/page/Notice/Category/style.module.scss
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Notice/Notification/index.tsx
  packages/mobile/src/page/Notice/NotificationList/index.tsx
  packages/mobile/src/page/Notice/NotificationList/style.module.scss
  packages/mobile/src/page/Notice/index.tsx
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Subscription/Preview.tsx
  packages/mobile/src/page/Subscription/Setting/style.module.scss
  packages/mobile/src/store/index.ts
  packages/mobile/src/type/api.d.ts
  packages/mobile/src/type/apiTypes/article.d.ts
  packages/mobile/src/type/apiTypes/subscribe.d.ts
Labels: ✨ Feature, 📱 Mobile

#413 [mobile] 홈 식단 카드 스타일 수정
  packages/mobile/src/components/atoms/Button/index.tsx
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/page/Home/Restaurant/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#428 [mobile] 홈 날씨 카드 API 연동
  packages/mobile/src/components/atoms/icon/비.tsx
  packages/mobile/src/components/atoms/icon/천둥번개.tsx
  packages/mobile/src/components/atoms/icon/흐림.tsx
  packages/mobile/src/page/Home/Weather/index.tsx
Labels: 📱 Mobile, 👽 API

#439 [mobile] SVG height 속성 auto에서 100%로 바꾸기
  packages/mobile/src/components/atoms/icon/Airplane.tsx
  packages/mobile/src/components/atoms/icon/Alarm.tsx
  packages/mobile/src/components/atoms/icon/AppVersion.tsx
  packages/mobile/src/components/atoms/icon/Arrow.tsx
  packages/mobile/src/components/atoms/icon/Calendar.tsx
  packages/mobile/src/components/atoms/icon/Call.tsx
  packages/mobile/src/components/atoms/icon/Close.tsx
  packages/mobile/src/components/atoms/icon/Email.tsx
  packages/mobile/src/components/atoms/icon/Food.tsx
  packages/mobile/src/components/atoms/icon/Hamburger.tsx
  packages/mobile/src/components/atoms/icon/Home.tsx
  packages/mobile/src/components/atoms/icon/Info.tsx
  packages/mobile/src/components/atoms/icon/Internet.tsx
  packages/mobile/src/components/atoms/icon/Lab.tsx
  packages/mobile/src/components/atoms/icon/LeftArrow.tsx
  packages/mobile/src/components/atoms/icon/LongArrow.tsx
  packages/mobile/src/components/atoms/icon/Map.tsx
  packages/mobile/src/components/atoms/icon/Person.tsx
  packages/mobile/src/components/atoms/icon/Plus.tsx
  packages/mobile/src/components/atoms/icon/Setting.tsx
  packages/mobile/src/components/atoms/icon/Share.tsx
  packages/mobile/src/components/atoms/icon/Speaker.tsx
  packages/mobile/src/components/atoms/icon/Star.tsx
  packages/mobile/src/components/atoms/icon/Subscription.tsx
  packages/mobile/src/components/atoms/icon/Theme.tsx
  packages/mobile/src/components/atoms/icon/Time.tsx
  packages/mobile/src/components/atoms/icon/UnAlarm.tsx
  packages/mobile/src/components/atoms/icon/UnSubscription.tsx
  packages/mobile/src/components/atoms/icon/Write.tsx
  packages/mobile/src/page/Home/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug

#410 [server] 게시글 북마크 OFF API
  packages/server/src/bookmark/bookmark.controller.ts
  packages/server/src/bookmark/bookmark.repository.ts
  packages/server/src/bookmark/bookmark.service.ts
  packages/server/src/subscribe/subscribe.controller.ts
Labels: ✨ Feature, 🖥 Server

#438 [mobile] 홈 일정 카드 API 연동
  packages/mobile/src/api/schedule.ts
  packages/mobile/src/page/Home/index.tsx
Labels: 📱 Mobile, 👽 API, 💄 UI/UX

#425 [mobile] Setting 대표식당 로컬스토리지에 저장하기
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/settingConfig.ts
  packages/mobile/src/components/molecules/RadioSelect/index.tsx
  packages/mobile/src/page/Setting/Cafeteria/index.tsx
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/Main/index.tsx
  packages/mobile/src/utils/storage.ts
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile

#422 [mobile] MenuList 컴포넌트 제작 및 persist 데이터 가져오기
  packages/mobile/src/components/molecules/MenuList/index.tsx
  packages/mobile/src/components/molecules/MenuList/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/store/cafeteriaSlice.ts
  packages/mobile/src/store/index.ts
  packages/mobile/src/type/index.ts
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile, 💄 UI/UX

#454 [server] 게시물 중복확인 API
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.dto.ts
Labels: 👋 self-approve, 🖥 Server

#455 [server] 게시물 content 사이즈 mediumtext로 사이즈 변경
  packages/server/src/commons/entities/article.entity.ts
Labels: 👋 self-approve, 🖥 Server, 🗃 Database

#444 [server] 공지사항 조회수 관리
  packages/server/src/article/article.module.ts
  packages/server/src/article/article.service.ts
  packages/server/src/hit/hit.repository.ts
  packages/server/src/hit/hit.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#418 [server] 사용하지 않는 Place Image 삭제 배치 구현
  packages/server/src/image/aws.service.ts
  packages/server/src/image/image.module.ts
  packages/server/src/image/image.service.ts
Labels: ✨ Feature, 🖥 Server

#440 [mobile] 학교 건물 조회 api 연결
  packages/mobile/src/__mocks__/imageList.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/api/school.ts
  packages/mobile/src/page/Map/ConstructionInfo/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/DetailGroup/index.tsx
  packages/mobile/src/page/Place/DetailGroup/style.module.scss
  packages/mobile/src/store/statusSlice.ts
  packages/mobile/src/type/apiTypes/school.d.ts
Labels: 📱 Mobile, 👽 API, 💄 UI/UX

#456 [server] 유저가 알림 or 구독 설정한 게시판 조회 API res 추가
  packages/server/src/subscribe/dtos/subscribe.dto.ts
  packages/server/src/subscribe/subscribe.service.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#452 [mobile] 식단 api 연결
  packages/mobile/src/__mocks__/cafeteriaMenu.ts
  packages/mobile/src/api/cafeteria.ts
  packages/mobile/src/components/molecules/CafeteriaMenuCard/index.tsx
  packages/mobile/src/components/molecules/CafeteriaMenuCard/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/style.module.scss
  packages/mobile/src/type/apiTypes/cafeteria.d.ts
Labels: ✨ Feature, 📱 Mobile, 👽 API

#448 [mobile] constructionInfo 컴포넌트 공통화
  packages/mobile/src/page/Map/ConstructionInfo/index.tsx
  packages/mobile/src/page/Map/Spot/index.tsx
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/DetailGroup/index.tsx
  packages/mobile/src/page/Place/DetailGroup/style.module.scss
Labels: 📱 Mobile, ♻️ Refactor

#450 [mobile] 구독페이지 리팩토링 및 api 연결
  packages/mobile/src/App.tsx
  packages/mobile/src/api/boardTree.ts
  packages/mobile/src/api/subscribe.ts
  packages/mobile/src/components/atoms/icon/UnAlarm.tsx
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Notice/Category/index.tsx
  packages/mobile/src/page/Notice/index.tsx
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/SettingTemplate/index.tsx
  packages/mobile/src/page/Setting/Subscription/index.tsx
  packages/mobile/src/page/Setting/Subscription/style.module.scss
  packages/mobile/src/page/Setting/index.tsx
  packages/mobile/src/page/Subscription/College.tsx
  packages/mobile/src/page/Subscription/End.tsx
  packages/mobile/src/page/Subscription/Major.tsx
  packages/mobile/src/page/Subscription/Preview.tsx
  packages/mobile/src/page/Subscription/Preview/index.tsx
  packages/mobile/src/page/Subscription/Preview/style.module.scss
  packages/mobile/src/page/Subscription/Setting/Card/index.tsx
  packages/mobile/src/page/Subscription/Setting/Card/style.module.scss
  packages/mobile/src/page/Subscription/Setting/index.tsx
  packages/mobile/src/page/Subscription/Setting/style.module.scss
  packages/mobile/src/page/Subscription/Start.tsx
  packages/mobile/src/page/Subscription/Status/index.tsx
  packages/mobile/src/page/Subscription/Status/style.module.scss
  packages/mobile/src/page/Subscription/SubscriptionModalTemplate.tsx
  packages/mobile/src/page/Subscription/constant.ts
  packages/mobile/src/page/Subscription/index.tsx
  packages/mobile/src/page/Subscription/style.module.scss
  packages/mobile/src/type/apiTypes/boardTree.d.ts
  packages/mobile/src/type/apiTypes/subscribe.d.ts
Labels: ✨ Feature, 📱 Mobile, 👽 API, ♻️ Refactor

#417 [server] Admin 관련 API 리팩토링
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/admin.service.ts
  packages/server/src/admin/dto/admin-create.dto.ts
  packages/server/src/admin/dto/admin-update.dto.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/dto/admin-credential.dto.ts
  packages/server/src/auth/dto/admin-login.dto.ts
  packages/server/src/auth/dto/update-password.dto.ts
  packages/server/src/auth/dto/userLogin.dto.ts
  packages/server/src/commons/decorators/admin-session.decorator.ts
  packages/server/src/commons/middlewares/auth.middleware.ts
Labels: 👽 API, 🖥 Server, ♻️ Refactor

#449 [server] Schedule_bookmark on/off api 개발
  packages/server/src/app.module.ts
  packages/server/src/bookmark/bookmark.service.ts
  packages/server/src/commons/entities/scheduleBookmark.entity.ts
  packages/server/src/schedule/schedule.module.ts
  packages/server/src/schedule/schedule.service.ts
  packages/server/src/schedule_bookmark/schedule_bookmark.controller.ts
  packages/server/src/schedule_bookmark/schedule_bookmark.module.ts
  packages/server/src/schedule_bookmark/schedule_bookmark.repository.ts
  packages/server/src/schedule_bookmark/schedule_bookmark.service.ts
Labels: 👽 API, 🖥 Server

#459 [server] board-tree 전체 계층 조회 API 성능 개선
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/boardTree/boardTree.controller.ts
  packages/server/src/boardTree/boardTree.service.ts
  packages/server/src/boardTree/dto/boardTree.all.response.dto.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server, ♻️ Refactor

#460 [server] 북마크 게시물 ON_DELETE CASCADE 설정
  packages/server/src/commons/entities/bookmark.entity.ts
Labels: 🖥 Server, 🗃 Database

#461 [server] UnusedImage 삭제 배치 로직 수정
  packages/server/src/image/image.service.ts
Labels: 👋 self-approve, 🖥 Server, ♻️ Refactor

#462 [server] Admin API swagger 적용
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/dto/admin-update.dto.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/dto/update-password.dto.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/place/dtos/place.create.request.dto.ts
  packages/server/src/place/place.controller.ts
  packages/server/src/schedule/dtos/create-schedules-request.dto.ts
  packages/server/src/schedule/schedule.controller.ts
Labels: 👋 self-approve, 🖥 Server, 🤵‍♂️ Admin

#466 chore: Change font color
  packages/mobile/src/page/Calendar/CollegeCard/style.module.scss
  packages/mobile/src/page/Home/Schedule/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX

#464 [mobile] 공지사항 북마크 api 붙이기
  packages/mobile/src/api/bookmark.ts
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/index.tsx
Labels: 📱 Mobile, 👽 API

#451 [mobile] 학교 상세페이지 api 연결
  packages/mobile/src/App.tsx
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/Info/index.tsx
  packages/mobile/src/page/Map/Info/style.module.scss
  packages/mobile/src/page/Map/Spot/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/DetailGroup/index.tsx
  packages/mobile/src/type/apiTypes/school.d.ts
Labels: ✨ Feature, 📱 Mobile, 👽 API

#471 [mobile] 캠퍼스맵 폰트 수정 및 간격 조정
  packages/mobile/src/page/Map/Info/style.module.scss
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX

#469 [moblie] 식단 시간 정보 데이터 수정 및 평일, 주말 시간 구분
  packages/mobile/src/__mocks__/cafeteriaTimeInfo.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/page/Cafeteria/constants.ts
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/utils/cafeteriaTime.ts
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile

#472 [mobile] 웹뷰가 아닐 경우 분기처리
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/api/article.ts
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Place/Error/index.tsx
  packages/mobile/src/page/Place/Report/index.tsx
  packages/mobile/src/type/apiTypes/boardTree.d.ts
  packages/mobile/src/utils/webview.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/commons/filter/http.exception.filter.ts
Labels: 📱 Mobile

#483 [server] 식당 시간 enum 수정
  packages/server/src/cafeteria/dto/cafeteria.create.dto.ts
  packages/server/src/commons/constants/enums.ts
Labels: 👋 self-approve, 🖥 Server, 🗃 Database

#480 [server] 북마크한 학사 일정 조회 API 구현
  packages/server/.eslintrc
  packages/server/src/schedule_bookmark/schedule_bookmark.controller.ts
  packages/server/src/schedule_bookmark/schedule_bookmark.repository.ts
  packages/server/src/schedule_bookmark/schedule_bookmark.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#473 [mobile] 모바일 홈 '기온별 옷차림' 모달 구현
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/components/templates/Modal/style.module.scss
  packages/mobile/src/page/Home/SuggestionModal/index.tsx
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
  packages/mobile/src/page/Home/Weather/index.tsx
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/style.module.scss
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#489 [server] 로그인에 권한가드 제거
  packages/server/src/auth/auth.controller.ts
Labels: 👋 self-approve, 🖥 Server

#490 [server] 권한있는 게시판 목록 조회 dto 변경
  packages/server/src/board-authority/board-authority.controller.ts
  packages/server/src/board-authority/board-authority.module.ts
  packages/server/src/board-authority/board-authority.service.ts
  packages/server/src/board-authority/dto/board-authority.response.dto.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#484 [mobile] 캠퍼스맵 디자인QA
  packages/mobile/src/components/molecules/ChipGroup/style.module.scss
  packages/mobile/src/components/molecules/ImageList/style.module.scss
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/Info/index.tsx
  packages/mobile/src/page/Map/Info/style.module.scss
  packages/mobile/src/page/Map/Spot/index.tsx
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Place/Detail/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#493 [server] article 수정일자 res 추가
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.dto.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#491 [mobile] 토스트메시지
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/Toast/index.tsx
  packages/mobile/src/components/atoms/icon/LongArrow.tsx
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Notice/Detail/DeepLink/index.tsx
  packages/mobile/src/page/Notice/Detail/DeepLink/style.module.scss
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/Footer/style.module.scss
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Notice/Detail/style.module.scss
  packages/mobile/src/page/Subscription/Status/index.tsx
  packages/mobile/src/utils/toast.ts
  yarn.lock
Labels: ✨ Feature, 📱 Mobile

#498 [mobile] 푸터 스타일 수정
  packages/mobile/src/components/atoms/NavigationLink/index.tsx
  packages/mobile/src/components/atoms/NavigationLink/style.module.scss
  packages/mobile/src/components/atoms/icon/Food.tsx
  packages/mobile/src/components/atoms/icon/Map.tsx
  packages/mobile/src/components/molecules/Footer/index.tsx
Labels: 👋 self-approve, 💄 UI/UX

#499 [mobile] url 클립보드 복사
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/style.module.scss
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile

#503 [server] Pagination default pageSize NaN 오류
  packages/server/src/commons/page/page.request.ts
Labels: 👋 self-approve, 🖥 Server, 🐛 Bug

#505 [server] pagination response 수정
  packages/server/src/article/article.service.ts
  packages/server/src/commons/page/page.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#488 [mobile] fcm token 로컬스토리지에 저장
  packages/mobile/src/App.tsx
  packages/mobile/src/page/Home/index.tsx
Labels: ✨ Feature, 📱 Mobile

#511 [server] Pagination Res 추가
  packages/server/src/commons/page/page.ts
Labels: 👋 self-approve, ✨ Feature, 👽 API, 🖥 Server

#485 [mobile] 홈 대표식단 카드 전체 기능 구현
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/api/schedule.ts
  packages/mobile/src/constants.ts
  packages/mobile/src/page/Cafeteria/constants.ts
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Home/Restaurant/EmptyCafeteria/index.tsx
  packages/mobile/src/page/Home/Restaurant/EmptyCafeteria/style.module.scss
  packages/mobile/src/page/Home/Restaurant/FinalGuide/index.tsx
  packages/mobile/src/page/Home/Restaurant/FinalGuide/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Greeting/index.tsx
  packages/mobile/src/page/Home/Restaurant/Greeting/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/page/Home/Restaurant/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Setting/Cafeteria/index.tsx
  packages/mobile/src/page/Setting/Main/index.tsx
  packages/mobile/src/utils/storage.ts
Labels: ✨ Feature, 📱 Mobile, 👽 API, 💄 UI/UX

#500 [mobile] 학사일정 북마크 API 연동
  packages/mobile/src/api/bookmark.ts
  packages/mobile/src/api/schedule.ts
  packages/mobile/src/api/scheduleCalendar.ts
  packages/mobile/src/hooks/useScroll.ts
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CollegeCard/index.tsx
  packages/mobile/src/page/Calendar/Date/index.tsx
  packages/mobile/src/page/Calendar/Date/useDateState.ts
  packages/mobile/src/page/Calendar/ScheduleCalendar/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Calendar/useAllSchedules.ts
  packages/mobile/src/page/Home/Restaurant/Greeting/index.tsx
  packages/mobile/src/page/Home/Restaurant/Greeting/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/type/apiTypes/schedule.d.ts
  packages/mobile/src/type/index.ts
  packages/mobile/src/utils/calendarTools.ts
Labels: 📱 Mobile, 👽 API

#514 [mobile] 홈 식당 카드에서 아침, 점심, 저녁 판단 기준 변경
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
Labels: 📱 Mobile, 🐛 Bug

#516 [mobile] 홈 일정 카드 클릭 시 일정 페이지로 이동하는 기능 구현
  packages/mobile/src/page/Home/Schedule/index.tsx
  packages/mobile/src/page/Home/Schedule/style.module.scss
Labels: ✨ Feature, 📱 Mobile

#512 [mobile] 홈 공지사항 카드, 식당 카드 및 일정 페이지 디자인 QA
  packages/mobile/src/components/molecules/CalendarHeader/style.module.scss
  packages/mobile/src/page/Calendar/ArrowButton/index.tsx
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Calendar/CollegeCard/style.module.scss
  packages/mobile/src/page/Calendar/Date/index.tsx
  packages/mobile/src/page/Calendar/Date/style.module.scss
  packages/mobile/src/page/Calendar/RadioBox/style.module.scss
  packages/mobile/src/page/Calendar/RadioButton/style.module.scss
  packages/mobile/src/page/Calendar/ScheduleCalendar/index.tsx
  packages/mobile/src/page/Calendar/ScheduleCalendar/style.module.scss
  packages/mobile/src/page/Home/Restaurant/FinalGuide/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/page/Home/Schedule/index.tsx
  packages/mobile/src/page/Home/Schedule/style.module.scss
  packages/mobile/src/page/Home/Weather/index.tsx
  packages/mobile/src/page/Home/Weather/style.module.scss
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/type/index.ts
  packages/mobile/src/utils/storage.ts
Labels: 📱 Mobile, 💄 UI/UX

#519 [mobile] 홈 날씨 카드에서 Drizzle(이슬비) 상태 대응
  packages/mobile/src/page/Home/Weather/index.tsx
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile
