Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-09, with the labels that each got.

#520 [mobile] z-index 순서 수정
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/components/templates/Modal/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Notice/Detail/DeepLink/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug

#526 [mobile] webview <-> app user-agent 연결
  packages/mobile/src/utils/webview.ts
Labels: 📱 Mobile, ⭐ Important

#530 [mobile] 설정 남은 부분 작업
  packages/mobile/src/components/atoms/icon/CMILogo.tsx
  packages/mobile/src/page/Setting/Creator/index.tsx
  packages/mobile/src/page/Setting/Creator/style.module.scss
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/index.tsx
Labels: 👋 self-approve, ✨ Feature, 💄 UI/UX

#507 [mobile] 클립보드 api 사용을 위한 app channel과 연결
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/type/global.d.ts
Labels: 📱 Mobile, ⭐ Important

#538 [server] school 도메인 swagger 동기화
  packages/server/src/place/dtos/place.response.dto.ts
  packages/server/src/place/dtos/places.response.dto.ts
Labels: 👋 self-approve, 🖥 Server

#532 [mobile] 설정 전체 디자인 QA
  packages/mobile/src/components/atoms/icon/CMILogo.tsx
  packages/mobile/src/components/molecules/RadioSelect/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/components/templates/Modal/style.module.scss
  packages/mobile/src/page/Setting/Cafeteria/style.module.scss
  packages/mobile/src/page/Setting/Contact/style.module.scss
  packages/mobile/src/page/Setting/Creator/index.tsx
  packages/mobile/src/page/Setting/Creator/style.module.scss
  packages/mobile/src/page/Setting/Main/style.module.scss
  packages/mobile/src/page/Setting/Menu/index.tsx
  packages/mobile/src/page/Setting/Menu/style.module.scss
Labels: 👋 self-approve, ✨ Feature, 💄 UI/UX

#534 [mobile] 식단 페이지 디자인 QA
  packages/mobile/src/components/molecules/CafeteriaMenuCard/index.tsx
  packages/mobile/src/components/molecules/CafeteriaMenuCard/style.module.scss
  packages/mobile/src/components/molecules/MenuList/index.tsx
  packages/mobile/src/components/molecules/MenuList/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/style.module.scss
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile, 💄 UI/UX

#535 [mobile] 캠퍼스맵 디자인 QA(미흡부분 수정)
  packages/mobile/src/components/atoms/icon/Map.tsx
  packages/mobile/src/components/molecules/ChipGroup/style.module.scss
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/Info/style.module.scss
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Place/Detail/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, ⭐ Important

#540 [mobile] 충림이 공지사항
  packages/mobile/src/page/Notice/Article/index.tsx
  packages/mobile/src/page/Notice/Article/style.module.scss
  packages/mobile/src/page/Notice/ArticleList/index.tsx
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Subscription/Preview/index.tsx
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile

#541 [mobile] 공지사항/홈/설정 디자인 QA
  packages/mobile/src/hooks/api/bookmark/index.ts
  packages/mobile/src/page/Notice/Article/style.module.scss
  packages/mobile/src/page/Notice/ArticleList/index.tsx
  packages/mobile/src/page/Setting/Subscription/style.module.scss
  packages/mobile/src/page/Subscription/Guide/index.tsx
  packages/mobile/src/page/Subscription/Selector/style.module.scss
  packages/mobile/src/page/Subscription/SubscriptionModalTemplate.tsx
  packages/mobile/src/page/Subscription/index.tsx
  packages/mobile/src/page/Subscription/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX

#539 [mobile] 에러 바운더리 세팅, QA 및 테스트
  package.json
  packages/mobile/babel.config.js
  packages/mobile/jest-setup.ts
  packages/mobile/jest.config.js
  packages/mobile/package.json
  packages/mobile/src/api/cafeteria/index.ts
  packages/mobile/src/components/atoms/ErrorFallback/index.tsx
  packages/mobile/src/components/atoms/ErrorFallback/style.module.scss
  packages/mobile/src/components/atoms/Loading/index.tsx
  packages/mobile/src/components/atoms/Loading/style.module.scss
  packages/mobile/src/components/atoms/SuspenseFallback/index.tsx
  packages/mobile/src/components/atoms/SuspenseFallback/style.module.scss
  packages/mobile/src/components/templates/AsyncBoundary/AsyncBoundary.test.tsx
  packages/mobile/src/components/templates/AsyncBoundary/index.tsx
  packages/mobile/src/components/templates/ErrorBoundary.tsx
  packages/mobile/src/hooks/api/cafeteria/index.ts
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/style.module.scss
  packages/mobile/src/page/Calendar/index.tsx
  yarn.lock
Labels: ✨ Feature, 📱 Mobile, 👽 API

#545 [mobile] 모바일 웹 100vh 실제 화면 크기로 맞추기
  packages/mobile/src/App.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/hooks/useWindowSizeDetect.ts
  packages/mobile/src/page/Cafeteria/CafateriaBody/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Notice/Detail/style.module.scss
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Setting/SettingTemplate/style.module.scss
  packages/mobile/src/page/Subscription/style.module.scss
  packages/mobile/src/utils/throttle.ts
  packages/shared/src/styles/global.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug

#548 [mobile] env dev/prod 구분
  packages/mobile/.env.development
  packages/mobile/.env.production
  packages/mobile/src/App.tsx
  packages/mobile/src/api/core/index.ts
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/utils/webview.ts
Labels: 👋 self-approve, 📱 Mobile
