Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-07, with the labels that each got.

#272 [server] 모든 origin CORS 허용
  packages/server/src/main.ts
Labels: 👋 self-approve, 🖥 Server, 🐛 Bug

#273 [server] 이미지 업로드 동기로 변경
  packages/server/package.json
  packages/server/src/image/aws.service.ts
  yarn.lock
Labels: 🖥 Server, 🐛 Bug

#276 [server] article_image 테이블 생성
  packages/server/src/commons/entities/article.entity.ts
  packages/server/src/commons/entities/articleImage.entity.ts
  packages/server/src/commons/entities/board.entity.ts
  packages/server/src/commons/entities/boardAuthority.entity.ts
  packages/server/src/commons/entities/boardTree.entity.ts
  packages/server/src/commons/entities/bookmark.entity.ts
  packages/server/src/commons/entities/cafeteriaMenu.entity.ts
  packages/server/src/commons/entities/certification.entity.ts
  packages/server/src/commons/entities/hit.entity.ts
  packages/server/src/commons/entities/image.entity.ts
  packages/server/src/commons/entities/noticeHistory.entity.ts
  packages/server/src/commons/entities/report.entity.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/commons/entities/subscribe.entity.ts
  packages/server/src/commons/entities/weather.entity.ts
Labels: 🖥 Server, 🗃 Database

#266 [mobile] 캠퍼스맵 위치 가져오기
  packages/mobile/src/page/Map/index.tsx
Labels: ✨ Feature, 📱 Mobile

#271 [server] Article 생성, 삭제, 수정(이미지 제외), 사이트별 목록 조회, 상세 조회 API
  packages/admin/src/App.tsx
  packages/admin/src/components/Manager/ExcutionLog/index.tsx
  packages/admin/src/main.tsx
  packages/admin/vite.config.ts
  packages/mobile/src/__mocks__/placeInfoList.ts
  packages/mobile/src/components/atoms/MenuButton/index.tsx
  packages/mobile/src/components/atoms/icon/Close.tsx
  packages/mobile/src/main.tsx
  packages/server/lib/server.js
  packages/server/package.json
  packages/server/src/admin/admin.service.ts
  packages/server/src/app.module.ts
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.module.ts
  packages/server/src/article/article.repository.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.create.dto.ts
  packages/server/src/article/dtos/article.detail.info.dto.ts
  packages/server/src/article/dtos/article.dto.ts
  packages/server/src/article/dtos/article.response.dto.ts
  packages/server/src/article/dtos/article.update.dto.ts
  packages/server/src/articleImage/articleImage.module.ts
  packages/server/src/articleImage/articleImage.repository.ts
  packages/server/src/articleImage/articleImage.service.ts
  packages/server/src/boardTree/boardTree.controller.ts
  packages/server/src/boardTree/boardTree.service.ts
  packages/server/src/bookmark/bookmark.module.ts
  packages/server/src/bookmark/bookmark.repository.ts
  packages/server/src/bookmark/bookmark.service.ts
  packages/server/src/commons/entities/article.entity.ts
  packages/server/src/commons/entities/common.entity.ts
  packages/server/src/commons/exception/exception.global.ts
  packages/server/src/hit/hit.module.ts
  packages/server/src/hit/hit.repository.ts
  packages/server/src/hit/hit.service.ts
  packages/server/src/image/image.module.ts
  packages/server/src/image/image.repository.ts
  packages/server/src/image/image.service.ts
  packages/server/src/main.ts
  packages/shared/src/types/index.ts
  yarn.lock
Labels: ✨ Feature, 👽 API

#284 [server] CommonEntity 개선
  packages/server/src/commons/entities/admin.entity.ts
  packages/server/src/commons/entities/article.entity.ts
  packages/server/src/commons/entities/articleImage.entity.ts
  packages/server/src/commons/entities/board.entity.ts
  packages/server/src/commons/entities/boardAuthority.entity.ts
  packages/server/src/commons/entities/boardTree.entity.ts
  packages/server/src/commons/entities/bookmark.entity.ts
  packages/server/src/commons/entities/cafeteria.entity.ts
  packages/server/src/commons/entities/cafeteriaMenu.entity.ts
  packages/server/src/commons/entities/certification.entity.ts
  packages/server/src/commons/entities/common.entity.ts
  packages/server/src/commons/entities/hit.entity.ts
  packages/server/src/commons/entities/image.entity.ts
  packages/server/src/commons/entities/noticeHistory.entity.ts
  packages/server/src/commons/entities/report.entity.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/commons/entities/subscribe.entity.ts
  packages/server/src/commons/entities/user.entity.ts
  packages/server/src/commons/entities/weather.entity.ts
Labels: 🖥 Server, 🗃 Database

#285 [all] unused import 자동 제거
  .vscode/settings.json
Labels: ⚙ Setting

#280 [server] 오픈 API를 통한 공휴일 데이터 저장 Batch 구현
  packages/server/src/app.module.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/schedule/schedule.module.ts
  packages/server/src/schedule/schedule.repository.ts
  packages/server/src/schedule/schedule.service.ts
  packages/server/src/weather/weather.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#288 [server] Entity 점검 및 initialize 로직 주석 처리
  packages/server/src/app.module.ts
  packages/server/src/commons/entities/certification.entity.ts
  packages/server/src/commons/entities/place.entity.ts
  packages/server/src/commons/entities/report.entity.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/commons/entities/weather.entity.ts
  packages/server/src/commons/factories/initialize.ts
  packages/server/src/data.ts
Labels: 🖥 Server, 🗃 Database

#289 [server] 인증체크 로직 변경
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/dto/adminCreate.dto.ts
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/dto/adminCredential.dto.ts
  packages/server/src/auth/dto/adminLogin.dto.ts
  packages/server/src/auth/dto/token.dto.ts
  packages/server/src/board/board.controller.ts
  packages/server/src/board/board.module.ts
  packages/server/src/commons/config/swagger.config.ts
  packages/server/src/commons/entities/common.entity.ts
  packages/server/src/commons/guards/admin-auth.guard.ts
  packages/server/src/commons/guards/authorities.guard.spec.ts
  packages/server/src/commons/guards/authorities.guard.ts
  packages/server/src/commons/guards/jwt.guard.spec.ts
  packages/server/src/commons/guards/jwt.guard.ts
  packages/server/src/commons/guards/local.guard.spec.ts
  packages/server/src/commons/guards/local.guard.ts
  packages/server/src/commons/guards/user-auth.guard.ts
  packages/server/src/commons/middlewares/auth.middleware.ts
  packages/server/src/commons/strategies/.gitkeep
  packages/server/src/commons/strategies/jwt.strategy.ts
  packages/server/src/commons/strategies/local.strategy.ts
  packages/server/src/main.ts
Labels: 🖥 Server

#292 [server] 인기 공지사항 조회 API
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.repository.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.list.dto.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#268 [mobile] 마커에 해당되는 정보 툴팁 추가
  packages/mobile/src/__mocks__/constructionInfo.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/components/atoms/icon/MapArrow.tsx
  packages/mobile/src/page/Map/ConstructionInfo/index.tsx
  packages/mobile/src/page/Map/ConstructionInfo/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/store/statusSlice.ts
Labels: ✨ Feature, 💄 UI/UX

#294 [server] subscribe entity notice 필드 자료형 수정
  packages/server/src/commons/entities/subscribe.entity.ts
Labels: 🖥 Server, 🗃 Database

#283 [server] 이미지 업로드 시 데이터베이스 저장 로직 구현
  packages/server/src/image/aws.service.ts
  packages/server/src/image/dto/upload-image.response.dto.ts
  packages/server/src/image/image.controller.ts
  packages/server/src/image/image.repository.ts
  packages/server/src/image/image.service.ts
Labels: ✨ Feature, 🖥 Server, 🗃 Database, ♻️ Refactor

#299 [server] 보드 계층 조회 API response 수정
  packages/server/src/app.module.ts
  packages/server/src/article/article.module.ts
  packages/server/src/boardTree/boardTree.controller.ts
  packages/server/src/boardTree/boardTree.module.ts
  packages/server/src/boardTree/boardTree.service.ts
  packages/server/src/boardTree/dto/boardTree.all.response.dto.ts
  packages/server/src/subscribe/subscribe.module.ts
  packages/server/src/subscribe/subscribe.repository.ts
  packages/server/src/subscribe/subscribe.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#303 [server] 보드 구독 설정 & 해제 API 개발
  packages/server/src/board/board.service.ts
  packages/server/src/commons/exception/exception.global.ts
  packages/server/src/subscribe/subscribe.controller.ts
  packages/server/src/subscribe/subscribe.module.ts
  packages/server/src/subscribe/subscribe.repository.ts
  packages/server/src/subscribe/subscribe.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#310 [server] article 생성 API guard 이용하도록 수정
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.service.ts
  packages/server/src/commons/exception/exception.global.ts
  packages/server/src/image/image.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server, ♻️ Refactor

#300 [server] 세션 데코레이터
  packages/server/src/admin/admin.controller.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/board/board.controller.ts
  packages/server/src/commons/decorators/AdminSession.decorator.ts
  packages/server/src/commons/decorators/UserSession.decorator.ts
  packages/server/src/commons/middlewares/auth.middleware.ts
Labels: 🖥 Server

#312 [server] 학사 일정 조회 API 에러 해결
  packages/server/src/schedule/dtos/get-schedules-request.dto.ts
  packages/server/src/schedule/schedule.repository.ts
Labels: 👋 self-approve, 🖥 Server

#290 [server] 학생식당 메뉴 API
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.controller.spec.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.controller.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.module.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.service.spec.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.service.ts
  packages/server/src/cafeteria/cafeteria-menu/dto/cafeteriaMenuCreate.dto.ts
  packages/server/src/cafeteria/cafeteria-menu/repository/cafeteriaMenu.repository.ts
  packages/server/src/cafeteria/cafeteria.controller.ts
  packages/server/src/cafeteria/cafeteria.module.ts
  packages/server/src/cafeteria/cafeteria.service.spec.ts
  packages/server/src/cafeteria/cafeteria.service.ts
  packages/server/src/cafeteria/dto/cafeteria.response.dto.ts
  packages/server/src/cafeteria/repository/cafeteria-menu.repository.ts
  packages/server/src/cafeteria/repository/cafeteria.repository.ts
Labels: 👽 API, 🖥 Server

#274 [mobile] 식단 마크업(헤더 제외)
  packages/mobile/src/__mocks__/cafeteriaList.ts
  packages/mobile/src/__mocks__/cafeteriaMenu.ts
  packages/mobile/src/__mocks__/cafeteriaTimeInfo.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/assets/no_menu.png
  packages/mobile/src/components/atoms/BorderBox/index.tsx
  packages/mobile/src/components/atoms/icon/Arrow.tsx
  packages/mobile/src/components/atoms/icon/NoMenu.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/CafeteriaMenuCard/index.tsx
  packages/mobile/src/components/molecules/CafeteriaMenuCard/style.module.scss
  packages/mobile/src/hooks/useFlicking/index.tsx
  packages/mobile/src/hooks/useFlicking/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/style.module.scss
  packages/mobile/src/type/index.ts
  packages/mobile/src/utils/cafeteriaTime.ts
  packages/shared/src/styles/mixin.scss
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#267 [mobile] 일정 페이지 마크업 및 캘린더 상호작용 기능 구현
  packages/mobile/package.json
  packages/mobile/src/__mocks__/schedules.ts
  packages/mobile/src/components/atoms/BorderBox/index.tsx
  packages/mobile/src/components/atoms/icon/AddSchedule.tsx
  packages/mobile/src/components/atoms/icon/ColorStar.tsx
  packages/mobile/src/components/atoms/icon/EmptyStar.tsx
  packages/mobile/src/components/atoms/icon/MoreArrow.tsx
  packages/mobile/src/components/atoms/icon/Write.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/CalendarHeader/index.tsx
  packages/mobile/src/components/molecules/CalendarHeader/style.module.scss
  packages/mobile/src/page/Calendar/AddScheduleLink/index.tsx
  packages/mobile/src/page/Calendar/ArrowButton/index.tsx
  packages/mobile/src/page/Calendar/ArrowButton/style.module.scss
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Calendar/CollegeCard/index.tsx
  packages/mobile/src/page/Calendar/CollegeCard/style.module.scss
  packages/mobile/src/page/Calendar/Date/index.tsx
  packages/mobile/src/page/Calendar/Date/style.module.scss
  packages/mobile/src/page/Calendar/Date/useDateState.ts
  packages/mobile/src/page/Calendar/Day/index.tsx
  packages/mobile/src/page/Calendar/Day/style.module.scss
  packages/mobile/src/page/Calendar/PersonalCard/index.tsx
  packages/mobile/src/page/Calendar/PersonalCard/style.module.scss
  packages/mobile/src/page/Calendar/RadioBox/index.tsx
  packages/mobile/src/page/Calendar/RadioBox/style.module.scss
  packages/mobile/src/page/Calendar/RadioButton/index.tsx
  packages/mobile/src/page/Calendar/RadioButton/style.module.scss
  packages/mobile/src/page/Calendar/ScheduleCalendar/index.tsx
  packages/mobile/src/page/Calendar/ScheduleCalendar/style.module.scss
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Calendar/monthReducer.ts
  packages/mobile/src/page/Calendar/style.module.scss
  packages/mobile/src/page/Calendar/useSelectedDate.ts
  packages/mobile/src/styles/color.scss
  packages/mobile/src/utils/.gitkeep
  packages/mobile/src/utils/calendarTools.ts
  packages/shared/src/styles/global.scss
  yarn.lock
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#308 [mobile] 홈 api 연동
  packages/mobile/package.json
Labels: ✨ Feature

#311 [mobile] 캠퍼스맵 디자인 1차 QA건
  packages/mobile/src/components/atoms/MenuButton/style.module.scss
  packages/mobile/src/components/molecules/Chips/style.module.scss
  packages/mobile/src/components/molecules/MapHeader/style.module.scss
  packages/mobile/src/components/templates/PlaceTemplate/style.module.scss
  packages/mobile/src/page/Detail/index.tsx
  packages/mobile/src/page/Detail/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#317 [server] 공지사항 조회 관련 API 개발
  packages/server/package.json
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.repository.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.detail.info.dto.ts
  packages/server/src/article/dtos/article.dto.ts
  packages/server/src/article/dtos/article.response.dto.ts
  packages/server/src/bookmark/bookmark.service.ts
  packages/server/src/subscribe/subscribe.repository.ts
  packages/server/src/subscribe/subscribe.service.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#265 [admin] 이미지 업로드 UI
  packages/admin/src/__mockData__/imgListMocks.ts
  packages/admin/src/__mockData__/index.ts
  packages/admin/src/api/baseQuery.ts
  packages/admin/src/api/board.ts
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Board/BoardWrite/style.module.scss
  packages/admin/src/components/Editor/style.module.scss
  packages/admin/src/components/ImgUpload/index.tsx
  packages/admin/src/components/ImgUpload/style.module.scss
  packages/admin/src/components/ImgUploadSlides/ImgCard/index.tsx
  packages/admin/src/components/ImgUploadSlides/ImgCard/style.module.scss
  packages/admin/src/components/ImgUploadSlides/index.tsx
  packages/admin/src/components/ImgUploadSlides/style.module.scss
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/store/boardSlice.ts
  packages/admin/src/types/index.ts
  packages/admin/tsconfig.json
  packages/shared/src/styles/color.scss
Labels: ✨ Feature, 💄 UI/UX, 🤵‍♂️ Admin

#320 [server] 인기 공지사항 조회 API 수정
  packages/server/package.json
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.repository.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#327 [mobile] 공지사항 구독 기능
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/NavigationLink/style.module.scss
  packages/mobile/src/components/templates/SubscriptionModalTemplate/index.tsx
  packages/mobile/src/components/templates/SubscriptionModalTemplate/style.module.scss
  packages/mobile/src/page/Notification/index.tsx
  packages/mobile/src/page/Notification/style.module.scss
  packages/mobile/src/page/Subscription/CommonProcess.tsx
  packages/mobile/src/page/Subscription/CommonStart.tsx
  packages/mobile/src/page/Subscription/End.tsx
  packages/mobile/src/page/Subscription/MajorProcess1.tsx
  packages/mobile/src/page/Subscription/MajorProcess2.tsx
  packages/mobile/src/page/Subscription/Process.tsx
  packages/mobile/src/page/Subscription/Start.tsx
  packages/mobile/src/page/Subscription/index.tsx
  packages/mobile/src/page/Subscription/style.module.scss
  yarn.lock
Labels: ✨ Feature

#337 [mobile] 공지사항 구독 api 연결
  packages/mobile/src/App.tsx
  packages/mobile/src/api/boardTree.ts
  packages/mobile/src/api/caxios.ts
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Subscription/College.tsx
  packages/mobile/src/page/Subscription/CommonProcess.tsx
  packages/mobile/src/page/Subscription/End.tsx
  packages/mobile/src/page/Subscription/Major.tsx
  packages/mobile/src/page/Subscription/MajorProcess1.tsx
  packages/mobile/src/type/apiTypes/boardTree.d.ts
Labels: 👽 API

#339 [mobile] fullPageModal Template 제작
  packages/mobile/src/components/templates/FullModalTemplate/index.tsx
  packages/mobile/src/components/templates/FullModalTemplate/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/components/templates/SubscriptionModalTemplate/index.tsx
  packages/mobile/src/page/Subscription/College.tsx
  packages/mobile/src/page/Subscription/End.tsx
  packages/mobile/src/page/Subscription/Major.tsx
  packages/mobile/src/page/Subscription/Start.tsx
  packages/mobile/src/page/Subscription/SubscriptionModalTemplate.tsx
  packages/mobile/src/page/Subscription/style.module.scss
Labels: ✨ Feature, 📱 Mobile

#332 [mobile] 일정 페이지 위로 가기 플로팅 버튼 구현
  packages/mobile/package.json
  packages/mobile/src/hooks/useScroll.ts
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Calendar/Date/style.module.scss
  packages/mobile/src/page/Calendar/RadioButton/index.tsx
  packages/mobile/src/page/Calendar/RadioButton/style.module.scss
  packages/shared/src/styles/global.scss
  yarn.lock
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#335 [mobile] 식단 헤더 기능구현 및 공통화
  packages/mobile/src/components/molecules/CalendarHeader/index.tsx
  packages/mobile/src/components/molecules/CalendarHeader/style.module.scss
  packages/mobile/src/hooks/useFlicking/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/style.module.scss
  packages/mobile/src/page/Calendar/calendarReducer.ts
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Calendar/monthReducer.ts
  packages/mobile/src/type/index.ts
  packages/mobile/src/utils/calendarTools.ts
  packages/mobile/src/utils/calendarZeroPad.ts
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#341 [mobile] 공지사항 설정페이지 제작
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/NewCard/index.tsx
  packages/mobile/src/components/atoms/NewCard/style.module.scss
  packages/mobile/src/components/atoms/icon/ImagePlus.tsx
  packages/mobile/src/components/atoms/icon/LeftArrow.tsx
  packages/mobile/src/components/atoms/icon/Plus.tsx
  packages/mobile/src/components/atoms/icon/UnAlarm.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/Footer/index.tsx
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/page/Notice/index.tsx
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Subscription/End.tsx
  packages/mobile/src/page/Subscription/Setting/Card/index.tsx
  packages/mobile/src/page/Subscription/Setting/Card/style.module.scss
  packages/mobile/src/page/Subscription/Setting/index.tsx
  packages/mobile/src/page/Subscription/Setting/style.module.scss
  packages/mobile/src/page/Subscription/SubscriptionModalTemplate.tsx
  packages/mobile/src/page/Subscription/style.module.scss
Labels: ✨ Feature, 📱 Mobile

#345 [server] 게시판 알림 설정 / 해제 API
  packages/server/package.json
  packages/server/src/commons/entities/subscribe.entity.ts
  packages/server/src/commons/exception/exception.global.ts
  packages/server/src/subscribe/subscribe.controller.ts
  packages/server/src/subscribe/subscribe.service.ts
  yarn.lock
Labels: 👋 self-approve, ✨ Feature, 👽 API

#313 [server] 학생식당 메뉴 추가
  packages/server/src/cafeteria/cafeteria.controller.ts
  packages/server/src/cafeteria/cafeteria.service.ts
  packages/server/src/cafeteria/dto/cafeteria.create.dto.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#343 [mobile] Map 디렉토리 리팩토링
  packages/mobile/src/App.tsx
  packages/mobile/src/page/Map/Call/index.tsx
  packages/mobile/src/page/Map/Call/style.module.scss
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/MoreImage/index.tsx
  packages/mobile/src/page/Map/MoreImage/style.module.scss
  packages/mobile/src/page/Map/Report/index.tsx
  packages/mobile/src/page/Map/Report/style.module.scss
  packages/mobile/src/page/Place/index.tsx
  packages/mobile/src/page/Place/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#334 [mobile] 식사 베타 아이콘 툴팁 추가건
  packages/mobile/src/components/templates/PlaceTemplate/index.tsx
  packages/mobile/src/components/templates/PlaceTemplate/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#307 [server] 사용하지 않는 이미지 삭제 Batch 로직 구현
  packages/server/src/image/aws.service.ts
  packages/server/src/image/image.module.ts
  packages/server/src/image/image.service.ts
Labels: ✨ Feature, 🖥 Server

#356 [server] article 생성 API 수정
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.create.dto.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#350 [mobile] 식당 스펙 제거에 따른 ui 변경
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/constructionList.ts
  packages/mobile/src/__mocks__/foodList.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/menuList.ts
  packages/mobile/src/__mocks__/playList.ts
  packages/mobile/src/__mocks__/snackList.ts
  packages/mobile/src/components/molecules/MenuButtonList/index.tsx
  packages/mobile/src/components/molecules/MenuButtonList/style.module.scss
  packages/mobile/src/components/templates/PlaceTemplate/index.tsx
  packages/mobile/src/components/templates/PlaceTemplate/style.module.scss
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/index.tsx
Labels: 📱 Mobile, 💄 UI/UX

#358 [server] 수정 권한이 있는 게시판 조회 API
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/board-authority/board-authoirty.repository.ts
  packages/server/src/board-authority/board-authority.controller.ts
  packages/server/src/board-authority/board-authority.module.ts
  packages/server/src/board-authority/board-authority.service.ts
  packages/server/src/board-authority/dto/board-authority.response.dto.ts
  packages/server/src/board/board.controller.ts
  packages/server/src/commons/decorators/AdminSession.decorator.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#363 [server] article 수정 API에 image 수정 로직 추가
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/dtos/article.update.dto.ts
  packages/server/src/articleImage/articleImage.repository.ts
  packages/server/src/articleImage/articleImage.service.ts
  packages/server/src/subscribe/subscribe.repository.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#361 [server] 유저가 구독 & 알림을 받는 게시판 목록 조회 API 개발
  packages/server/src/boardTree/boardTree.service.ts
  packages/server/src/subscribe/dtos/subscribe.dto.ts
  packages/server/src/subscribe/subscribe.controller.ts
  packages/server/src/subscribe/subscribe.module.ts
  packages/server/src/subscribe/subscribe.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server

#328 [mobile] 설정 메인 및 대표식당 설정 페이지 마크업
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/settingConfig.ts
  packages/mobile/src/components/atoms/icon/Alarm.tsx
  packages/mobile/src/components/atoms/icon/AppVersion.tsx
  packages/mobile/src/components/atoms/icon/Email.tsx
  packages/mobile/src/components/atoms/icon/Experiment.tsx
  packages/mobile/src/components/atoms/icon/Food.tsx
  packages/mobile/src/components/atoms/icon/Help.tsx
  packages/mobile/src/components/atoms/icon/MapArrow.tsx
  packages/mobile/src/components/atoms/icon/Person.tsx
  packages/mobile/src/components/atoms/icon/Speaker.tsx
  packages/mobile/src/components/atoms/icon/Theme.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/RadioSelect/index.tsx
  packages/mobile/src/components/molecules/RadioSelect/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Setting/Cafeteria/index.tsx
  packages/mobile/src/page/Setting/Cafeteria/style.module.scss
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/Main/index.tsx
  packages/mobile/src/page/Setting/Main/style.module.scss
  packages/mobile/src/page/Setting/SettingMenu/index.tsx
  packages/mobile/src/page/Setting/SettingMenu/style.module.scss
  packages/mobile/src/page/Setting/SettingTemplate/index.tsx
  packages/mobile/src/page/Setting/SettingTemplate/style.module.scss
  packages/mobile/src/page/Setting/index.tsx
  packages/mobile/src/type/index.ts
  packages/shared/src/styles/global.scss
Labels: ✨ Feature, 💄 UI/UX
