Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-06, with the labels that each got.

#250 [mobile] 지도 - 상세페이지 마크업
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/detailImageList.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/components/atoms/icon/Call.tsx
  packages/mobile/src/components/atoms/icon/ImagePlus.tsx
  packages/mobile/src/components/atoms/icon/MoreArrow.tsx
  packages/mobile/src/components/atoms/icon/Phone.tsx
  packages/mobile/src/components/atoms/icon/Position.tsx
  packages/mobile/src/components/atoms/icon/Time.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/components/molecules/ImageList/style.module.scss
  packages/mobile/src/components/templates/PlaceTemplate/index.tsx
  packages/mobile/src/page/Detail/index.tsx
  packages/mobile/src/page/Detail/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#254 [mobile] 지도 - 이미지 페이지 작업
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/mapImageList.ts
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/components/molecules/MapHeader/index.tsx
  packages/mobile/src/components/molecules/MapHeader/style.module.scss
  packages/mobile/src/components/molecules/MapImageList/index.tsx
  packages/mobile/src/components/molecules/MapImageList/style.module.scss
  packages/mobile/src/page/MoreImage/index.tsx
  packages/mobile/src/page/MoreImage/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#259 [server] 이미지 업로드 API 리팩토링
  packages/server/src/app.module.ts
  packages/server/src/aws/aws.module.ts
  packages/server/src/image/aws.service.ts
  packages/server/src/image/image.controller.ts
  packages/server/src/image/image.module.ts
  packages/server/src/image/image.service.ts
Labels: 👽 API, 🖥 Server, ♻️ Refactor

#253 [mobile] 공통 mixin 추가
  packages/mobile/src/components/molecules/ImageList/style.module.scss
  packages/shared/src/styles/mixin.scss
Labels: 📱 Mobile, ♻️ Refactor, 💄 UI/UX

#255 [server] Cafeteria, CafeteriaMenu, Place 관련 모듈
  .gitignore
  packages/server/package.json
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/admin.service.spec.ts
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.controller.spec.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.controller.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.module.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.service.spec.ts
  packages/server/src/cafeteria/cafeteria-menu/cafeteria-menu.service.ts
  packages/server/src/cafeteria/cafeteria-menu/dto/cafeteriaMenuCreate.dto.ts
  packages/server/src/cafeteria/cafeteria-menu/repository/cafeteriaMenu.repository.ts
  packages/server/src/cafeteria/cafeteria.controller.ts
  packages/server/src/cafeteria/cafeteria.module.ts
  packages/server/src/cafeteria/cafeteria.service.spec.ts
  packages/server/src/cafeteria/cafeteria.service.ts
  packages/server/src/cafeteria/repository/cafeteria.repository.ts
  packages/server/src/commons/constants/constants.ts
  packages/server/src/commons/constants/enums.ts
  packages/server/src/commons/decorators/Authorities.decorator.ts
  packages/server/src/commons/decorators/PageQuery.decorator.ts
  packages/server/src/commons/decorators/Private.decorator.ts
  packages/server/src/commons/entities/admin.entity.ts
  packages/server/src/commons/entities/cafeteria.entity.ts
  packages/server/src/commons/entities/cafeteriaMenu.entity.ts
  packages/server/src/commons/entities/place.entity.ts
  packages/server/src/commons/entities/user.entity.ts
  packages/server/src/commons/error/index.ts
  packages/server/src/commons/factories/initialize.ts
  packages/server/src/commons/guards/authorities.guard.spec.ts
  packages/server/src/commons/guards/authorities.guard.ts
  packages/server/src/commons/guards/jwt.guard.ts
  packages/server/src/commons/seeds/cafeteria.seed.ts
  packages/server/src/commons/strategies/jwt.strategy.ts
  packages/server/src/data.ts
  packages/server/src/main.ts
  packages/server/src/place/place.module.ts
  packages/server/src/place/place.service.ts
  packages/server/src/place/repository/place.repository.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#257 [mobile] 제보하기 ui 작성
  packages/mobile/index.html
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/Button/index.tsx
  packages/mobile/src/components/atoms/Button/style.module.scss
  packages/mobile/src/components/atoms/icon/CallSubmit.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/MapHeader/style.module.scss
  packages/mobile/src/page/Call/index.tsx
  packages/mobile/src/page/Call/style.module.scss
  packages/mobile/tsconfig.json
  packages/mobile/vite.config.ts
  packages/shared/src/styles/global.scss
Labels: 📱 Mobile, 💄 UI/UX

#261 [mobile] 오류 신고 UI 만들기
  packages/mobile/src/App.tsx
  packages/mobile/src/page/Detail/index.tsx
  packages/mobile/src/page/Report/index.tsx
  packages/mobile/src/page/Report/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX

#263 [server] 날씨 조회 API 리팩토링 및 날씨 데이터 저장 방식 변경
  packages/server/package.json
  packages/server/src/commons/entities/weather.entity.ts
  packages/server/src/weather/dtos/create-weather.request.dto.ts
  packages/server/src/weather/weather.controller.ts
  packages/server/src/weather/weather.module.ts
  packages/server/src/weather/weather.repository.ts
  packages/server/src/weather/weather.service.ts
  yarn.lock
Labels: 👽 API, 🖥 Server, ♻️ Refactor
