Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-04, with the labels that each got.

#130 [mobile] 충림이 모바일 지도(flicking 헤더, 하단 버튼, 툴팁)
  package.json
  packages/mobile/package.json
  packages/mobile/src/components/atoms/Menu/index.tsx
  packages/mobile/src/components/atoms/Menu/style.module.scss
  packages/mobile/src/components/atoms/MenuButton/index.tsx
  packages/mobile/src/components/atoms/MenuButton/style.module.scss
  packages/mobile/src/components/atoms/icon/PlaceArrow.tsx
  packages/mobile/src/components/atoms/icon/PlaceMenu.tsx
  packages/mobile/src/components/atoms/icon/SmallPlaceMenu.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/MenuButtonList/index.tsx
  packages/mobile/src/components/molecules/MenuButtonList/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Map/style.module.scss
  packages/shared/src/styles/global.scss
Labels: 📱 Mobile, 💄 UI/UX

#141 [server] 서버 패키지에 lint 적용
  .eslintignore
  packages/server/__tests__/server.test.js
  packages/server/lib/server.js
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/config/config.module.ts
  packages/server/src/config/config.service.spec.ts
  packages/server/src/config/config.service.ts
  packages/server/src/main.ts
  packages/server/test/app.e2e-spec.ts
  yarn.lock
Labels: ⚙ Setting, 🖥 Server

#144 [setting] clean, reinstall 명령어 등록
  package.json
Labels: 👋 self-approve, ⚙ Setting

#145 🔥 Log file and pacekage-lock.json
  .gitignore
  lerna-debug.log
  package-lock.json
Labels: 👋 self-approve, ⚙ Setting

#136 [Server] FCM PUSH 모듈
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/fcm/fcm.interfaces.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/fcm/fcm.service.ts
  yarn.lock
Labels: 🖥 Server

#138 [mobile] 충림이 모바일 지도 api 연동, footer 적용하기
  packages/mobile/package.json
  packages/mobile/public/index.html
  packages/mobile/src/App.tsx
  packages/mobile/src/__mocks__/placeInfoList.ts
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/components/molecules/MenuButtonList/index.tsx
  packages/mobile/src/components/molecules/MenuButtonList/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/tsconfig.json
  packages/mobile/webpack.config.js
  packages/shared/src/styles/global.scss
Labels: 📱 Mobile, 💄 UI/UX

#132 [server] TypeOrmModule 세팅
  .eslintignore
  packages/server/__tests__/server.test.js
  packages/server/lib/server.js
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/config/config.module.ts
  packages/server/src/config/config.service.spec.ts
  packages/server/src/config/config.service.ts
  packages/server/src/config/configuration.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/fcm/fcm.service.ts
  packages/server/src/main.ts
  packages/server/test/app.e2e-spec.ts
  yarn.lock
Labels: ⚙ Setting, 🖥 Server

#142 [admin] 게시판 세부 기능
  packages/admin/package.json
  packages/admin/public/index.html
  packages/admin/src/__mockData__/boardCategories.ts
  packages/admin/src/__mockData__/index.ts
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Board/BoardWrite/style.module.scss
  packages/admin/src/components/Editor/index.tsx
  packages/admin/src/components/Editor/style.module.scss
  packages/admin/src/components/Manager/ScraperManager/style.module.scss
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Navigation/style.module.scss
  packages/admin/src/components/Scenario/ScenarioCard/style.module.scss
  packages/admin/src/components/Scenario/ScenarioFilter/style.module.scss
  packages/admin/src/hooks/index.ts
  packages/admin/src/hooks/useDebounceInput.ts
  packages/admin/src/lib/debounce.ts
  packages/admin/src/store/boardSlice.ts
  packages/admin/src/store/index.ts
  packages/admin/src/styles/mixin.scss
  packages/admin/src/types/index.ts
  packages/shared/src/styles/color.scss
  packages/shared/src/styles/global.scss
  packages/shared/src/types/index.ts
  yarn.lock
Labels: ✨ Feature, 💄 UI/UX, 🤵‍♂️ Admin

#164 [server] AWS S3를 활용한 file 업로드 및 삭제 로직 작성
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/aws/aws.module.ts
  packages/server/src/aws/aws.service.ts
  packages/server/src/fcm/fcm.service.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#167 [setting] vscode 추천 extension 추가
  .vscode/extensions.json
Labels: ⚙ Setting

#160 [mobile] 리스트 지도 붉은 원 눌렀을 때 (헤더, 메뉴 추가)
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/icon/MapArrow.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/page/Category/index.tsx
  packages/mobile/src/page/Category/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/shared/src/styles/color.scss
  packages/shared/src/styles/global.scss
Labels: 📱 Mobile, 💄 UI/UX

#163 [server] Admin 회원가입, 로그인, getMe API 작성
  .eslintrc
  .gitignore
  .prettierrc
  .vscode/settings.json
  package.json
  packages/server/help.yaml
  packages/server/package.json
  packages/server/src/@config/configuration.ts
  packages/server/src/@constants/constants.ts
  packages/server/src/@constants/enums.ts
  packages/server/src/@decorator/PageQuery.decorator.ts
  packages/server/src/@decorator/public.decorator.ts
  packages/server/src/@decorator/userField.decorator.ts
  packages/server/src/@entities/admin.entity.ts
  packages/server/src/@entities/common.entity.ts
  packages/server/src/@entities/user.entity.ts
  packages/server/src/@error/index.ts
  packages/server/src/@guard/jwt.guard.spec.ts
  packages/server/src/@guard/jwt.guard.ts
  packages/server/src/@guard/local.guard.spec.ts
  packages/server/src/@guard/local.guard.ts
  packages/server/src/@strategy/jwt.strategy.ts
  packages/server/src/@strategy/local.strategy.ts
  packages/server/src/admin/admin.controller.spec.ts
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/admin.module.ts
  packages/server/src/admin/admin.service.spec.ts
  packages/server/src/admin/admin.service.ts
  packages/server/src/admin/dto/adminCreate.dto.ts
  packages/server/src/admin/repository/admin.repository.ts
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.controller.spec.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/auth/auth.service.spec.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/dto/adminCredential.dto.ts
  packages/server/src/auth/dto/adminLogin.dto.ts
  packages/server/src/auth/dto/token.dto.ts
  packages/server/src/auth/dto/userLogin.dto.ts
  packages/server/src/config/configuration.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/main.ts
  packages/server/src/user/dto/userCreate.dto.ts
  packages/server/src/user/repository/user.repository.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.spec.ts
  packages/server/src/user/user.service.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#172 [server] 백엔드 response format 세팅
  packages/server/src/app.module.ts
  packages/server/src/board/board.controller.ts
  packages/server/src/board/board.module.ts
  packages/server/src/board/board.service.ts
  packages/server/src/common/exception/exception.global.ts
  packages/server/src/common/exception/exception.response.ts
  packages/server/src/common/filter/http.exception.filter.ts
  packages/server/src/main.ts
Labels: ⚙ Setting, 👽 API, 🖥 Server

#175 [setting] 개발 서버 배포용 스크립트 작성
  .gitignore
  deploy.sh
  package.json
Labels: 👋 self-approve, ⚙ Setting, 🖥 Server

#179 [setting] server 디렉토리 구조 정리
  .gitignore
  packages/server/src/@constants/constants.ts
  packages/server/src/admin/admin.controller.ts
  packages/server/src/admin/admin.service.ts
  packages/server/src/admin/dto/adminCreate.dto.ts
  packages/server/src/admin/repository/admin.repository.ts
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/dto/adminCredential.dto.ts
  packages/server/src/commons/config/configuration.ts
  packages/server/src/commons/constants/constants.ts
  packages/server/src/commons/constants/enums.ts
  packages/server/src/commons/decorators/PageQuery.decorator.ts
  packages/server/src/commons/decorators/public.decorator.ts
  packages/server/src/commons/decorators/userField.decorator.ts
  packages/server/src/commons/entities/admin.entity.ts
  packages/server/src/commons/entities/common.entity.ts
  packages/server/src/commons/entities/user.entity.ts
  packages/server/src/commons/error/index.ts
  packages/server/src/commons/guards/jwt.guard.spec.ts
  packages/server/src/commons/guards/jwt.guard.ts
  packages/server/src/commons/guards/local.guard.spec.ts
  packages/server/src/commons/guards/local.guard.ts
  packages/server/src/commons/strategys/jwt.strategy.ts
  packages/server/src/commons/strategys/local.strategy.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/main.ts
  packages/server/src/user/repository/user.repository.ts
  packages/server/src/user/user.service.spec.ts
  packages/server/src/user/user.service.ts
Labels: ⚙ Setting

#183 [setting] README 수정
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/setting.md
  .github/ISSUE_TEMPLATE/share.md
  .github/ISSUE_TEMPLATE/suggest.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: ⚙ Setting

#176 [ mobile] mobile, variables scss생성
  packages/admin/src/App.tsx
  packages/admin/src/admin.scss
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Board/BoardWrite/style.module.scss
  packages/admin/src/components/Navigation/index.tsx
  packages/mobile/src/App.tsx
  packages/mobile/src/mobile.scss
  packages/shared/src/styles/color.scss
  packages/shared/src/styles/constants.ts
  packages/shared/src/styles/global.scss
  packages/shared/src/styles/main.scss
  packages/shared/src/styles/variables.scss
Labels: 📱 Mobile, 💄 UI/UX, 🤵‍♂️ Admin, 👫 Shared

#173 [mobile] 리스트 지도 붉은 원 눌렀을 때 (리스트 추가) + footer 분리
  packages/mobile/src/App.tsx
  packages/mobile/src/components/molecules/Footer/index.tsx
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/page/Category/index.tsx
  packages/mobile/src/page/Category/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Map/style.module.scss
  packages/shared/src/styles/color.scss
  packages/shared/src/styles/variables.scss
Labels: 📱 Mobile, 💄 UI/UX

#188 [mobile] flicking -> css 전환
  packages/mobile/package.json
  packages/mobile/src/components/molecules/MenuButtonList/index.tsx
  packages/mobile/src/components/molecules/MenuButtonList/style.module.scss
  packages/mobile/src/page/Category/index.tsx
  packages/mobile/src/page/Category/style.module.scss
  packages/shared/src/styles/mixin.scss
Labels: 📱 Mobile, ♻️ Refactor, 💄 UI/UX

#186 [server] Board CRUD API
  packages/server/package.json
  packages/server/src/board/board.controller.ts
  packages/server/src/board/board.module.ts
  packages/server/src/board/board.repository.ts
  packages/server/src/board/board.service.ts
  packages/server/src/board/dto/board.create.dto.ts
  packages/server/src/board/dto/board.update.dto.ts
  packages/server/src/common/exception/exception.global.ts
  packages/server/src/commons/entities/board.entity.ts
  packages/server/src/commons/exception/exception.global.ts
  packages/server/src/commons/exception/exception.response.ts
  packages/server/src/commons/filter/http.exception.filter.ts
  packages/server/src/main.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server

#195 [BUG] dev 서버 패키지 누락 이슈 수정
  packages/server/package.json
  yarn.lock
Labels: 🌏 Deploy, 🐛 Bug

#198 [setting] Deploy shell에 git reset 명령어 추가
  deploy.sh
Labels: ⚙ Setting

#197 mixin 말줄임 추가
  packages/mobile/src/page/Category/style.module.scss
  packages/shared/src/styles/mixin.scss
Labels: ♻️ Refactor

#187 [server] 이미지 업로드 API 수정 및 리팩토링 & 디렉토리 명 변경
  packages/server/src/auth/auth.module.ts
  packages/server/src/aws/aws.controller.ts
  packages/server/src/aws/aws.module.ts
  packages/server/src/aws/aws.service.ts
  packages/server/src/commons/strategies/jwt.strategy.ts
  packages/server/src/commons/strategies/local.strategy.ts
Labels: 👽 API, 🖥 Server, ♻️ Refactor

#201 [SETTING] swagger 적용
  packages/server/package.json
  packages/server/src/board/board.controller.ts
  packages/server/src/board/dto/board.create.dto.ts
  packages/server/src/commons/config/swagger.config.ts
  packages/server/src/commons/entities/board.entity.ts
  packages/server/src/main.ts
  yarn.lock
Labels: ⚙ Setting, 👽 API, 🖥 Server

#192 [mobile] 홈페이지 디자인 씽크 맞추기
  packages/mobile/src/components/atoms/BorderBox/index.tsx
  packages/mobile/src/components/atoms/NavigationLink/index.tsx
  packages/mobile/src/components/atoms/NavigationLink/style.module.scss
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/components/templates/DefaultPageTemplate/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/style.module.scss
  packages/shared/src/styles/color.scss
  yarn.lock
Labels: 💄 UI/UX

#204 [mobile] 지도 해시태그 리스트, 공지사항 메뉴 컴포넌트 공통화
  packages/mobile/src/components/molecules/Chips/index.tsx
  packages/mobile/src/components/molecules/Chips/style.module.scss
  packages/mobile/src/page/Category/index.tsx
  packages/mobile/src/page/Category/style.module.scss
  packages/shared/src/styles/mixin.scss
Labels: 📱 Mobile, ♻️ Refactor

#208 [server] 학사 일정 조회 API 기능 개발
  packages/server/src/app.module.ts
  packages/server/src/commons/entities/schedule.entity.ts
  packages/server/src/schedule/dtos/get-schedules-request.dto.ts
  packages/server/src/schedule/schedule.controller.ts
  packages/server/src/schedule/schedule.module.ts
  packages/server/src/schedule/schedule.repository.ts
  packages/server/src/schedule/schedule.service.ts
Labels: ✨ Feature, 👽 API, 🖥 Server
