Repository CMI-OSS/cbnu-alrami, pull requests merged in 2022-03, with the labels that each got.

#106 [admin/scraper] 관리자 페이지와 스크래퍼 소켓 연동
  .eslintrc
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/__mockData__/collegeScheduleScenarioQueue.ts
  packages/admin/src/__mockData__/domitoryRestarantScenarioQueue.ts
  packages/admin/src/__mockData__/noticeScenarioQueue.ts
  packages/admin/src/__mockData__/studentRestaurantScenarioQueue.ts
  packages/admin/src/components/Manager/ExcutionLog/index.tsx
  packages/admin/src/components/Manager/ExcutionLog/style.ts
  packages/admin/src/components/Manager/ScenarioQueue/index.tsx
  packages/admin/src/components/Manager/ScraperManager/index.tsx
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Scraper/index.tsx
  packages/admin/src/hooks/useSocket.ts
  packages/admin/src/lib/scraper.ts
  packages/admin/src/lib/socket.ts
  packages/admin/src/pages/ScraperPage/index.tsx
  packages/admin/src/store/index.ts
  packages/admin/src/store/scraperSlice.ts
  packages/admin/src/types/index.ts
  packages/scraper/package.json
  packages/scraper/src/common/Queue.ts
  packages/scraper/src/db/notice.ts
  packages/scraper/src/index.ts
  packages/scraper/src/scrapers/CafeteriaScraper/index.ts
  packages/scraper/src/scrapers/CafeteriaScraper/scripts/cafeteria.js
  packages/scraper/src/scrapers/CafeteriaScraper/scripts/별빛식당.js
  packages/scraper/src/scrapers/CafeteriaScraper/scripts/은하수식당.js
  packages/scraper/src/scrapers/CafeteriaScraper/scripts/한빛식당.js
  packages/scraper/src/scrapers/CalendarScraper/index.ts
  packages/scraper/src/scrapers/CalendarScraper/scripts/2020.js
  packages/scraper/src/scrapers/CalendarScraper/scripts/2021.js
  packages/scraper/src/scrapers/CalendarScraper/scripts/2022.js
  packages/scraper/src/scrapers/CovidScraper/index.ts
  packages/scraper/src/scrapers/DomitoryScraper/index.ts
  packages/scraper/src/scrapers/DomitoryScraper/scripts/본관.js
  packages/scraper/src/scrapers/DomitoryScraper/scripts/양성재.js
  packages/scraper/src/scrapers/DomitoryScraper/scripts/양진재.js
  packages/scraper/src/scrapers/NoticeScraper/index.ts
  packages/scraper/src/scrapers/Scenario.ts
  packages/scraper/src/scrapers/Scraper.ts
  packages/scraper/src/socket/handler.ts
  packages/scraper/src/socket/server.ts
  packages/scraper/src/types/CafeteriaScript.ts
  packages/scraper/src/types/CalendarScript.ts
  packages/scraper/src/types/DomitoryScript.ts
  packages/shared/src/types/Socket/AppendLog.ts
  packages/shared/src/types/Socket/ChangeScenarioQueue.ts
  packages/shared/src/types/Socket/ChangeScraperState.ts
  packages/shared/src/types/Socket/CommandScraper.ts
  packages/shared/src/types/Socket/InitScraper.ts
  packages/shared/src/types/Socket/SocketMessage.ts
  packages/shared/src/types/Socket/index.ts
  packages/shared/src/types/index.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🕸 Scraper, ♻️ Refactor, 🤵‍♂️ Admin

#113 [setting] convert 명령어 제거
  .nvmrc
  package.json
  yarn.lock
Labels: ⚙ Setting, 🐛 Bug

#115 [mobile] 충림이 모바일 reset.scss 설정
  package.json
  packages/mobile/webpack.config.js
  packages/shared/src/styles/constants.ts
  packages/shared/src/styles/globalStyle.ts
Labels: 📱 Mobile, 🎨 code style

#110 [setting/server]NestJS server 패키지 생성 및 lerna 적용
  .nvmrc
  lerna-debug.log
  package.json
  packages/admin/src/components/LoginForm/index.tsx
  packages/server/.gitignore
  packages/server/README.md
  packages/server/__tests__/server.test.js
  packages/server/help.yaml
  packages/server/lib/server.js
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/config/config.module.ts
  packages/server/src/config/config.service.spec.ts
  packages/server/src/config/config.service.ts
  packages/server/src/config/configuration.ts
  packages/server/src/controllers/global.ts
  packages/server/src/index.ts
  packages/server/src/main.ts
  packages/server/src/routers/global.ts
  packages/server/src/socket_handlers/connection.ts
  packages/server/src/socket_handlers/sample.ts
  packages/server/test/app.e2e-spec.ts
  packages/server/test/jest-e2e.json
  packages/server/tsconfig.build.json
  packages/server/tsconfig.json
  yarn.lock
Labels: ⚙ Setting, 🖥 Server

#121 [admin] emotion 스타일 SCSS로 변환
  .vscode/launch.json
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/admin.scss
  packages/admin/src/adminStyle.ts
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Board/BoardWrite/style.module.scss
  packages/admin/src/components/Board/BoardWrite/style.ts
  packages/admin/src/components/LoginForm/index.tsx
  packages/admin/src/components/LoginForm/style.module.scss
  packages/admin/src/components/LoginForm/style.ts
  packages/admin/src/components/Manager/ExcutionLog/index.tsx
  packages/admin/src/components/Manager/ExcutionLog/style.module.scss
  packages/admin/src/components/Manager/ExcutionLog/style.ts
  packages/admin/src/components/Manager/ScenarioQueue/index.tsx
  packages/admin/src/components/Manager/ScenarioQueue/style.module.scss
  packages/admin/src/components/Manager/ScenarioQueue/style.ts
  packages/admin/src/components/Manager/ScraperManager/index.tsx
  packages/admin/src/components/Manager/ScraperManager/style.module.scss
  packages/admin/src/components/Manager/ScraperManager/style.ts
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Navigation/style.module.scss
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/style.module.scss
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Scenario/ScenarioFilter/index.tsx
  packages/admin/src/components/Scenario/ScenarioFilter/style.module.scss
  packages/admin/src/components/Scenario/ScenarioFilter/style.ts
  packages/admin/src/components/Scenario/ScenarioGroupList/index.tsx
  packages/admin/src/components/Scenario/ScenarioGroupList/style.module.scss
  packages/admin/src/components/Scenario/ScenarioGroupList/style.ts
  packages/admin/src/components/Scenario/ScenarioList/index.tsx
  packages/admin/src/components/Scenario/ScenarioList/style.module.scss
  packages/admin/src/components/Scenario/ScenarioList/style.ts
  packages/admin/src/components/Scraper/index.tsx
  packages/admin/src/components/Scraper/style.module.scss
  packages/admin/src/components/Scraper/style.ts
  packages/admin/src/components/Tooltip/index.tsx
  packages/admin/src/components/Tooltip/style.module.scss
  packages/admin/src/components/Tooltip/style.ts
  packages/admin/src/types/global.d.ts
  packages/admin/tsconfig.json
  packages/admin/webpack.config.js
  yarn.lock
Labels: ♻️ Refactor, 💄 UI/UX, 🤵‍♂️ Admin

#117 [mobile] emotion에서 scss module방식으로 전환
  .gitignore
  .vscode/launch.json
  packages/admin/package.json
  packages/admin/src/App.tsx
  packages/admin/src/admin.scss
  packages/admin/src/adminStyle.ts
  packages/admin/src/components/Board/BoardWrite/index.tsx
  packages/admin/src/components/Board/BoardWrite/style.module.scss
  packages/admin/src/components/Board/BoardWrite/style.ts
  packages/admin/src/components/LoginForm/index.tsx
  packages/admin/src/components/LoginForm/style.module.scss
  packages/admin/src/components/LoginForm/style.ts
  packages/admin/src/components/Manager/ExcutionLog/index.tsx
  packages/admin/src/components/Manager/ExcutionLog/style.module.scss
  packages/admin/src/components/Manager/ExcutionLog/style.ts
  packages/admin/src/components/Manager/ScenarioQueue/index.tsx
  packages/admin/src/components/Manager/ScenarioQueue/style.module.scss
  packages/admin/src/components/Manager/ScenarioQueue/style.ts
  packages/admin/src/components/Manager/ScraperManager/index.tsx
  packages/admin/src/components/Manager/ScraperManager/style.module.scss
  packages/admin/src/components/Manager/ScraperManager/style.ts
  packages/admin/src/components/Navigation/index.tsx
  packages/admin/src/components/Navigation/style.module.scss
  packages/admin/src/components/Navigation/style.ts
  packages/admin/src/components/Scenario/ScenarioCard/index.tsx
  packages/admin/src/components/Scenario/ScenarioCard/style.module.scss
  packages/admin/src/components/Scenario/ScenarioCard/style.ts
  packages/admin/src/components/Scenario/ScenarioFilter/index.tsx
  packages/admin/src/components/Scenario/ScenarioFilter/style.module.scss
  packages/admin/src/components/Scenario/ScenarioFilter/style.ts
  packages/admin/src/components/Scenario/ScenarioGroupList/index.tsx
  packages/admin/src/components/Scenario/ScenarioGroupList/style.module.scss
  packages/admin/src/components/Scenario/ScenarioGroupList/style.ts
  packages/admin/src/components/Scenario/ScenarioList/index.tsx
  packages/admin/src/components/Scenario/ScenarioList/style.module.scss
  packages/admin/src/components/Scenario/ScenarioList/style.ts
  packages/admin/src/components/Scraper/index.tsx
  packages/admin/src/components/Scraper/style.module.scss
  packages/admin/src/components/Scraper/style.ts
  packages/admin/src/components/Tooltip/index.tsx
  packages/admin/src/components/Tooltip/style.module.scss
  packages/admin/src/components/Tooltip/style.ts
  packages/admin/src/types/global.d.ts
  packages/admin/tsconfig.json
  packages/admin/webpack.config.js
  packages/mobile/src/App.tsx
  packages/shared/src/styles/color.scss
  packages/shared/src/styles/color.ts
  packages/shared/src/styles/global.scss
  packages/shared/src/styles/globalStyle.ts
  yarn.lock
Labels: 📱 Mobile
