Repository CMI-OSS/cbnu-alrami, pull requests merged in 2023-02, with the labels that each got.

#599 [mobile] 학생식당 페이지에 API 적용
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Cafeteria/constants.ts
  packages/server2/src/admin/gurads/super.guard.ts
  packages/server2/src/app.module.ts
  packages/server2/src/article/entities/article.entity.ts
  packages/server2/src/cafeteria-menu/cafeteria-menu.constant.ts
  packages/server2/src/common/http-exception-filter.ts
  packages/server2/src/main.ts
  packages/shared/src/constant.ts
  packages/shared/src/swagger-api/generated/core/request.ts
  packages/shared/src/swagger-api/generated/models/CafeteriaMenu.ts
  packages/shared/src/swagger-api/generated/models/CreateCafeteriaMenuDto.ts
  packages/shared/src/swagger-api/index.ts
Labels: 📱 Mobile, 👽 API

#603 [server2] 학사일정 북마크 API
  packages/server2/src/schedule/entities/schedule.entity.ts
  packages/server2/src/schedule/schedule.controller.ts
  packages/server2/src/schedule/schedule.service.ts
  packages/server2/src/schedule/schedule.swagger.ts
  packages/shared/src/swagger-api/generated/services/ScheduleApiService.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#604 [server] 학교 건물 상세조회 API 추가
  package.json
  packages/server2/src/place/place.controller.ts
  packages/server2/src/place/place.service.ts
  packages/shared/src/swagger-api/generated/services/PlaceApiService.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#605 [server2] 구독한 게시판중 공지사항 목록 API
  packages/server2/src/article/article.controller.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/article.swagger.ts
  packages/server2/src/board/board.service.ts
  packages/shared/src/swagger-api/generated/services/ArticleApiService.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server, ♻️ Refactor

#608 [server] 학교 건물 조회 API `area`(구역) query로 받기
  packages/server2/src/place/place.controller.ts
  packages/shared/src/swagger-api/generated/services/PlaceApiService.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#609 [server2] 공지사항 북마크 조회시 등록된 순으로 정렬
  packages/server2/src/app.module.ts
  packages/server2/src/article/article.module.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/entities/article-bookmark.ts
  packages/server2/src/article/entities/article.entity.ts
  packages/server2/src/schedule/entities/schedule.entity.ts
  packages/shared/src/swagger-api/generated/models/CreateScheduleDto.ts
  packages/shared/src/swagger-api/generated/models/Schedule.ts
Labels: 👽 API, 🖥 Server

#612 [server2] 공지사항 페이지 조회시 페이지네이션 정보 포함
  packages/server2/src/article/article.controller.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/article.swagger.ts
  packages/server2/src/article/dto/response-article.dto.ts
  packages/server2/src/article/entities/article-bookmark.ts
  packages/server2/src/article/entities/article.entity.ts
  packages/server2/src/board/board.controller.ts
  packages/server2/src/board/board.swagger.ts
  packages/server2/src/common/dto/pagination.dto.ts
  packages/shared/src/swagger-api/generated/index.ts
  packages/shared/src/swagger-api/generated/models/PaginationResponseDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticlePageDto.ts
  packages/shared/src/swagger-api/generated/services/ArticleApiService.ts
  packages/shared/src/swagger-api/generated/services/BoardApiService.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#614 [server] 인기 공지사항 API 리팩토링
  packages/server2/package.json
  packages/server2/src/app.module.ts
  packages/server2/src/article-view/article.view.module.ts
  packages/server2/src/article-view/article.view.service.ts
  packages/server2/src/article-view/entities/article-view.entity.ts
  packages/server2/src/article/article.controller.ts
  packages/server2/src/article/article.module.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/article.swagger.ts
  packages/server2/src/article/entities/article.entity.ts
  packages/server2/src/user/user.service.ts
  packages/shared/src/swagger-api/generated/models/CreateArticleDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticleDetailDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticleDto.ts
  packages/shared/src/swagger-api/generated/models/UpdateArticleDto.ts
  packages/shared/src/swagger-api/generated/services/ArticleApiService.ts
  yarn.lock
Labels: ✨ Feature, 👽 API, 🖥 Server, ♻️ Refactor

#606 [server] 공휴일 배치 로직 리팩토링
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/types.ts
  packages/server2/src/schedule/schedule.module.ts
  packages/server2/src/schedule/schedule.service.ts
Labels: 🖥 Server, ♻️ Refactor

#617 [server] 일정 조회 API 개선
  packages/server2/src/article/article.swagger.ts
  packages/server2/src/schedule/dto/get-schedule.dto.ts
  packages/server2/src/schedule/entities/schedule.entity.ts
  packages/server2/src/schedule/schedule.service.ts
  packages/server2/src/schedule/schedule.swagger.ts
  packages/server2/src/user/user.gurad.ts
  packages/shared/src/swagger-api/generated/models/CreateScheduleDto.ts
  packages/shared/src/swagger-api/generated/models/Schedule.ts
  packages/shared/src/swagger-api/generated/services/ArticleApiService.ts
  packages/shared/src/swagger-api/generated/services/BoardApiService.ts
  packages/shared/src/swagger-api/generated/services/ScheduleApiService.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#618 [server] http 에러 필터링에 메시지랑 스택정보 추가
  packages/server2/src/common/http-exception-filter.ts
  packages/server2/src/common/util/utils.ts
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/types.ts
Labels: 👋 self-approve, 👽 API, 🖥 Server

#619 [server] 공지사항 bookmark 리팩토링
  packages/server2/src/app.module.ts
  packages/server2/src/article-bookmark/article-bookmark.module.ts
  packages/server2/src/article-bookmark/article-bookmark.service.ts
  packages/server2/src/article-bookmark/entities/article-bookmark.ts
  packages/server2/src/article-view/article-view.module.ts
  packages/server2/src/article-view/article-view.service.ts
  packages/server2/src/article/article.controller.ts
  packages/server2/src/article/article.module.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/entities/article.entity.ts
Labels: ✨ Feature, 👽 API, 🖥 Server, ♻️ Refactor

#623 [mobile] 홈>공지사항 리팩토링
  packages/mobile/src/hooks/api/article1/index.ts
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/page/Home/Article/style.module.scss
  packages/mobile/src/page/Home/Notice/index.tsx
  packages/mobile/src/page/Home/Notice/style.module.scss
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/type/utils.ts
Labels: ♻️ Refactor

#629 [mobile] 공지사항 관련 API를 swagger generated API로 리펙토링하기
  packages/mobile/package.json
  packages/mobile/src/hooks/api/article1/index.ts
  packages/mobile/src/hooks/api/board1/index.ts
  packages/mobile/src/page/Article/components/ArticleItem/index.tsx
  packages/mobile/src/page/Article/components/ArticleItem/style.module.scss
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/style.module.scss
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Article/style.module.scss
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/states/index.ts
  yarn.lock
Labels: 👋 self-approve, ♻️ Refactor

#634 [mobile] 공지사항 디테일 관련 API를 swagger generated API로 리펙토링하기
  packages/mobile/src/App.tsx
  packages/mobile/src/api/article/index.ts
  packages/mobile/src/components/atoms/icon/Heart.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/hooks/api/article1/index.ts
  packages/mobile/src/hooks/api/bookmark/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/Detail/style.module.scss
  packages/mobile/src/page/Article/components/ArticleItem/index.tsx
  packages/mobile/src/page/Article/components/ArticleItem/style.module.scss
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/page/Article/components/Footer/style.module.scss
  packages/mobile/src/page/Notice/Article/index.tsx
  packages/mobile/src/page/Notice/Article/style.module.scss
  packages/mobile/src/page/Notice/ArticleList/index.tsx
  packages/mobile/src/page/Notice/ArticleList/style.module.scss
  packages/mobile/src/page/Notice/Category/index.tsx
  packages/mobile/src/page/Notice/Category/style.module.scss
  packages/mobile/src/page/Notice/Detail/DeepLink/index.tsx
  packages/mobile/src/page/Notice/Detail/DeepLink/style.module.scss
  packages/mobile/src/page/Notice/Detail/Footer/index.tsx
  packages/mobile/src/page/Notice/Detail/Footer/style.module.scss
  packages/mobile/src/page/Notice/Detail/index.tsx
  packages/mobile/src/page/Notice/Detail/style.module.scss
  packages/mobile/src/page/Notice/index.tsx
  packages/mobile/src/page/Notice/style.module.scss
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/Subscription/index.tsx
  packages/mobile/src/page/Setting/Subscription/style.module.scss
  packages/mobile/src/page/Setting/index.tsx
  packages/mobile/src/page/Subscription/Guide/index.tsx
  packages/mobile/src/page/Subscription/Preview/index.tsx
  packages/mobile/src/page/Subscription/Preview/style.module.scss
  packages/mobile/src/page/Subscription/Selector/index.tsx
  packages/mobile/src/page/Subscription/Selector/style.module.scss
  packages/mobile/src/page/Subscription/Status/index.tsx
  packages/mobile/src/page/Subscription/Status/style.module.scss
  packages/mobile/src/page/Subscription/SubscriptionModalTemplate.tsx
  packages/mobile/src/page/Subscription/index.tsx
  packages/mobile/src/page/Subscription/style.module.scss
  packages/mobile/src/type/utils.ts
Labels: 👋 self-approve, ♻️ Refactor

#613 [mobile] 일정 페이지에서 사용하는 API를 swagger-generated API로 리펙토링하기
  packages/mobile/src/api/bookmark/index.ts
  packages/mobile/src/api/schedule/index.ts
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/bookmark/index.ts
  packages/mobile/src/hooks/api/schedule/index.ts
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CollegeCard/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Home/Schedule/index.tsx
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/type/apiTypes/schedule.d.ts
  packages/mobile/src/type/index.ts
  packages/mobile/src/utils/calendarTools.ts
Labels: 📱 Mobile, 👽 API, ♻️ Refactor

#632 [mobile] cafeteria query hook 리팩토링 및 waterfall 현상 해결
  packages/mobile/src/api/cafeteria/index.ts
  packages/mobile/src/components/molecules/MenuList/index.tsx
  packages/mobile/src/constants.ts
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/cafeteria/index.ts
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Cafeteria/constants.ts
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/hooks.ts
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/store/cafeteriaSlice.ts
  packages/mobile/src/type/apiTypes/cafeteria.d.ts
  packages/mobile/src/type/index.ts
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile, 👽 API, ♻️ Refactor

#637 [server] 관리자 계정 비밀번호 해시화
  packages/server2/package.json
  packages/server2/src/admin/admin.module.ts
  packages/server2/src/admin/admin.service.ts
  packages/server2/src/common/util/password.utils.ts
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/types.ts
  yarn.lock
Labels: 🖥 Server, 🤵‍♂️ Admin

#636 [server] 게시물 좋아요 API
  packages/server2/src/app.module.ts
  packages/server2/src/article-like/article-like.module.ts
  packages/server2/src/article-like/article-like.service.ts
  packages/server2/src/article-like/entities/article-like.entity.ts
  packages/server2/src/article/article.controller.ts
  packages/server2/src/article/article.module.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/article.swagger.ts
  packages/server2/src/article/dto/create-article.dto.ts
  packages/server2/src/article/dto/response-article.dto.ts
  packages/server2/src/article/entities/article.entity.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticleDetailDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticleDto.ts
  packages/shared/src/swagger-api/generated/services/ArticleApiService.ts
Labels: ✨ Feature, 🖥 Server, 🗃 Database

#602 [mobile] 캠퍼스맵에서 사용하는 API를 swagger-generated로 리팩토링
  packages/mobile/src/App.tsx
  packages/mobile/src/hooks/api/school/index.ts
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/Spot/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/DetailGroup/index.tsx
Labels: 📱 Mobile

#640 [mobile] 좋아요 api 연동
  packages/mobile/src/hooks/api/article1/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/Detail/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, ♻️ Refactor

#641 [mobile] head meta 변경
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/HeadMeta/index.tsx
  packages/mobile/src/constants.ts
  packages/mobile/src/main.tsx
Labels: ♻️ Refactor

#643 [mobile] 좋아요 애니메이션 추가
  packages/mobile/src/components/atoms/icon/FillHeart.tsx
  packages/mobile/src/components/atoms/icon/Heart.tsx
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/Detail/style.module.scss
Labels: 👋 self-approve, 📱 Mobile

#645 [mobile] 홈 날씨 카드에서 온도를 소수점 첫째 자리까지만 보여주기
  packages/mobile/src/hooks/api/weather/index.ts
Labels: 📱 Mobile

#648 [mobile] 구독페이지 리팩토링
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/api/article/index.ts
  packages/mobile/src/api/boardTree/index.ts
  packages/mobile/src/api/bookmark/index.ts
  packages/mobile/src/api/core/index.ts
  packages/mobile/src/api/school/index.ts
  packages/mobile/src/api/subscribe/index.ts
  packages/mobile/src/consts/api/index.ts
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/hooks/api/board1/index.ts
  packages/mobile/src/hooks/api/boardTree/index.ts
  packages/mobile/src/hooks/api/subscribe/index.ts
  packages/mobile/src/hooks/api/subscribe1/index.ts
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/style.module.scss
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/page/Article/components/Slider/index.tsx
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Article/style.module.scss
  packages/mobile/src/page/Board/Article/index.tsx
  packages/mobile/src/page/Board/Article/style.module.scss
  packages/mobile/src/page/Board/components/BoardItem/index.tsx
  packages/mobile/src/page/Board/components/BoardItem/style.module.scss
  packages/mobile/src/page/Board/components/BoardList/index.tsx
  packages/mobile/src/page/Board/components/BoardList/style.module.scss
  packages/mobile/src/page/Board/components/BreadCrumb/index.tsx
  packages/mobile/src/page/Board/components/BreadCrumb/style.module.scss
  packages/mobile/src/page/Board/components/Title/index.tsx
  packages/mobile/src/page/Board/components/Title/style.module.scss
  packages/mobile/src/page/Board/index.tsx
  packages/mobile/src/page/Board/style.module.scss
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/states/index.ts
  packages/mobile/src/type/api.d.ts
  packages/mobile/src/type/apiTypes/article.d.ts
  packages/mobile/src/type/apiTypes/boardTree.d.ts
  packages/mobile/src/type/apiTypes/bookmark.d.ts
  packages/mobile/src/type/apiTypes/school.d.ts
  packages/mobile/src/type/apiTypes/subscribe.d.ts
  packages/mobile/src/type/utils.ts
  yarn.lock
Labels: 👋 self-approve, 📱 Mobile

#650 [mobile] 구독알림설정페이지
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/components/shared/SubscriptionNoticeGroup/index.tsx
  packages/mobile/src/components/shared/SubscriptionNoticeGroup/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Board/Article/index.tsx
  packages/mobile/src/page/Board/Article/style.module.scss
  packages/mobile/src/page/Board/components/BoardItem/index.tsx
  packages/mobile/src/page/Board/components/BoardItem/style.module.scss
  packages/mobile/src/page/Board/index.tsx
  packages/mobile/src/page/Setting/Board/index.tsx
  packages/mobile/src/page/Setting/Board/style.module.scss
  packages/mobile/src/page/Setting/Main/constants.ts
  packages/mobile/src/page/Setting/index.tsx
  packages/mobile/src/states/index.ts
  yarn.lock
Labels: 👋 self-approve, 📱 Mobile

#653 [mobile] article, board 없을 경우 분기처리 및 uuid 세팅
  packages/mobile/src/App.tsx
  packages/mobile/src/assets/guide_empty_article.png
  packages/mobile/src/assets/guide_empty_bookmark.png
  packages/mobile/src/components/shared/SubscriptionNoticeGroup/index.tsx
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/style.module.scss
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/page/Article/components/Slider/index.tsx
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Board/Article/index.tsx
  packages/mobile/src/page/Board/components/BoardList/index.tsx
  packages/mobile/src/page/Board/index.tsx
  packages/mobile/src/page/Setting/Board/index.tsx
  packages/mobile/src/page/Setting/Board/style.module.scss
  packages/mobile/src/utils/storage.ts
Labels: 📱 Mobile, ♻️ Refactor

#656 [mobile] meta 수정
  packages/mobile/index.html
  packages/mobile/src/App.tsx
  packages/mobile/src/components/atoms/HeadMeta/index.tsx
  packages/mobile/src/components/atoms/icon/FillHeart.tsx
  packages/mobile/src/components/atoms/icon/Heart.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/constants.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/Slider/index.tsx
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/polyfills/index.js
  yarn.lock
Labels: 👋 self-approve, 📱 Mobile

#658 [mobile] 메타태그 수정
  packages/mobile/index.html
  packages/mobile/vite.config.ts
Labels: 📱 Mobile

#659 [mobile] 일정 페이지 즐겨찾기 탭에서 스타일이 깨지는 문제 수정
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  yarn.lock
Labels: 👋 self-approve, 📱 Mobile, 🐛 Bug

#662 [mobile] 캠퍼스맵 useQuery 리팩토링
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/school/index.ts
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
Labels: 📱 Mobile, ♻️ Refactor

#665 [Mobile] DeferredComponent로 로딩 UX 개선하기
  packages/mobile/src/components/atoms/DeferredComponent/index.tsx
  packages/mobile/src/components/atoms/SuspenseFallback/index.tsx
  packages/mobile/src/constants.ts
Labels: 👋 self-approve, ✨ Feature, 📱 Mobile
