Repository CMI-OSS/cbnu-alrami, pull requests merged in 2023-04, with the labels that each got.

#788 [mobile] 공지사항, 푸터 버그 수정
  packages/mobile/src/App.tsx
  packages/mobile/src/components/molecules/Footer/index.tsx
  packages/mobile/src/consts/react-query/index.ts
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleItem/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Article/index.tsx
Labels: 👋 self-approve, 🐛 Bug

#771 [mobile] ios 14에서 height 0 동작하는 이슈 해결
  packages/mobile/src/components/atoms/NavigationLink/style.module.scss
Labels: 📱 Mobile, ♻️ Refactor, 🐛 Bug

#790 [mobile] 학사일정 > `MOCK_UUID`를 제거하고 getUuid 함수 호출로 변경
  packages/mobile/src/hooks/api/schedule/index.ts
  packages/mobile/src/page/Calendar/CollegeCard/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
Labels: 📱 Mobile, 🐛 Bug

#792 [server/mobile] FCM NotRegistered 처리, boardId 대응
  packages/mobile/src/page/Home/Article/index.tsx
  packages/server/src/fcm/fcm.service.ts
Labels: 👋 self-approve, 🖥 Server

#794 [mobile] 최근 클릭한 boardId를 storage에서 관리
  packages/mobile/src/App.tsx
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleItem/index.tsx
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/utils/storage.ts
  packages/server/src/fcm/fcm.service.ts
Labels: 📱 Mobile

#799 [mobile] title없을 때 기본 문구 보여줌
  packages/mobile/src/constants.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleItem/index.tsx
  packages/mobile/src/page/Home/Article/index.tsx
Labels: 👋 self-approve, 🐛 Bug

#801 [mobile] 공지사항 인기/최신 안내 툴팁 추가
  packages/mobile/package.json
  packages/mobile/src/components/atoms/Popover/index.tsx
  packages/mobile/src/components/atoms/icon/Question.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/mobile.scss
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/page/Home/Article/style.module.scss
  yarn.lock
Labels: 📱 Mobile, 💄 UI/UX, QA - UI/UX

#803 [mobile] 홈 옷차림 추천 모달 및 식단 카드 색깔 접근성 수정
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/style.module.scss
  packages/mobile/src/page/Home/SuggestionModal/index.tsx
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX

#821 [mobile] [QA] 푸터 디자인 QA
  packages/mobile/src/components/atoms/NavigationLink/style.module.scss
Labels: 📱 Mobile, QA - UI/UX

#825 [mobile] 애니메이션 속도 빠르게
  packages/mobile/src/page/Article/Detail/style.module.scss
Labels: 👋 self-approve

#826 [mobile] 공지사항 툴팁 위치 수정
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/page/Home/Article/style.module.scss
Labels: QA - 개선

#827 [mobile] 이미지 여러개 일 경우만 캐로셀 작동하도록 수정
  packages/mobile/src/components/molecules/SwiperImage/index.tsx
Labels: 👋 self-approve, QA - 개선

#828 [deploy] 서버 PM2 메모리 한계 1GB로 설정
  deploy.sh
Labels: 👋 self-approve, 🌏 Deploy, 🖥 Server

#829 [mobile] 구독설정 미리보기 링크 추가
  packages/mobile/src/page/Setting/Board/index.tsx
Labels: 👋 self-approve, QA - 개선

#795 [mobile] 화면 세로 길이가 짧은 기기에서 기온별 옷차림 추천 모달의 스타일이 깨지지 않도록 수정
  packages/mobile/src/page/Home/SuggestionModal/index.tsx
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug, QA - 버그

#830 [scraper] 공지사항 스크래퍼 점검 후 수정
  packages/scraper/package.json
  packages/scraper/src/cafeteria-scraper/cafeteria-scraper.spec.ts
  packages/scraper/src/common/log.ts
  packages/scraper/src/main.ts
  packages/scraper/src/notice-scraper/constant.ts
  packages/scraper/src/notice-scraper/notice-scraper.ts
  packages/scraper/src/notice-scraper/scripts/공통/충북대행사세미나.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/농업경제학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/원예학과.js
  packages/scraper/src/notice-scraper/scripts/생활과학대학/소비자학과.js
  packages/scraper/src/notice-scraper/scripts/의과대학/간호학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/러시아언어문화학과.js
  packages/scraper/src/scraper/scraper.ts
  packages/server/src/article/article.controller.ts
  packages/server/src/article/article.service.ts
  packages/server/src/article/article.swagger.ts
  packages/server/src/article/dto/duplicate.dto.ts
  packages/shared/src/swagger-api/generated/index.ts
  packages/shared/src/swagger-api/generated/models/DuplicatedResponseDto.ts
  packages/shared/src/swagger-api/generated/services/ArticleApiService.ts
Labels: 🖥 Server, 🕸 Scraper

#835 [server] FCM 알림 ON
  packages/server/src/article/article.service.ts
Labels: 🖥 Server, 🐛 Bug

#822 [mobile] 일정 페이지에서 즐겨찾기 탭이 비어있을 때 표시되는 일러스트가 끝까지 스크롤되지 않는 문제 수정
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX, 🐛 Bug, QA - 버그

#837 [mobile] 홈 옷차림 추천 모달에서 누락된 온도 구간 추가
  packages/mobile/src/page/Home/SuggestionModal/index.tsx
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX, 🐛 Bug

#838 [mobile] 일정 캘린더에서 일정 있음을 표시하는 점을 날짜 텍스트에 더 가까이 붙이기
  packages/mobile/src/page/Calendar/Date/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX, QA - UI/UX

#832 [mobile] 공지사항 구독/알림 flow 보강
  packages/mobile/src/components/atoms/icon/LeftArrow.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Board/index.tsx
  packages/mobile/src/page/Setting/Board/index.tsx
  packages/mobile/src/page/Setting/Menu/index.tsx
  packages/mobile/src/page/Setting/SettingTemplate/index.tsx
  packages/mobile/src/states/index.ts
  packages/mobile/src/store/boardSlice.ts
  packages/mobile/src/store/index.ts
Labels: ♻️ Refactor, QA - 제안

#836 [mobile] 공지사항 디자인 qa
  packages/mobile/src/page/Article/components/Slider/style.module.scss
  packages/mobile/src/page/Article/style.module.scss
  packages/mobile/src/page/Board/components/BoardItem/index.tsx
  packages/mobile/src/page/Board/components/BoardItem/style.module.scss
  packages/mobile/src/page/Board/components/Title/style.module.scss
Labels: QA - UI/UX

#839 [mobile] 설정 디자인 QA
  packages/mobile/src/page/Setting/SettingTemplate/index.tsx
  packages/mobile/src/page/Setting/SettingTemplate/style.module.scss
Labels: ♻️ Refactor, 💄 UI/UX, QA - UI/UX

#841 [mobile] png이미지 svg로 변경
  packages/mobile/src/assets/guide_empty_article.png
  packages/mobile/src/assets/guide_empty_article.svg
  packages/mobile/src/assets/guide_empty_bookmark.png
  packages/mobile/src/assets/guide_empty_bookmark.svg
  packages/mobile/src/assets/guide_empty_favorites_schedule.png
  packages/mobile/src/assets/guide_empty_favorites_schedule.svg
  packages/mobile/src/assets/guide_empty_subscription.png
  packages/mobile/src/assets/guide_empty_subscription.svg
  packages/mobile/src/assets/guide_empty_subscription_setting.png
  packages/mobile/src/assets/guide_empty_subscription_setting.svg
  packages/mobile/src/assets/no_menu.png
  packages/mobile/src/assets/no_menu.svg
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Setting/Board/index.tsx
Labels: 👋 self-approve, QA - 개선

#831 [mobile] 홈 페이지 디자인 QA 반영
  packages/mobile/src/components/atoms/icon/HomeSetting.tsx
  packages/mobile/src/components/atoms/icon/Write.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/page/Home/Article/style.module.scss
  packages/mobile/src/page/Home/HomeHeader/index.tsx
  packages/mobile/src/page/Home/HomeHeader/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/style.module.scss
  packages/mobile/src/page/Home/Weather/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug, QA - 버그

#842 [mobile] 홈 식당 선택 모달이 스크롤되는 문제 수정
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/page/Home/Restaurant/style.module.scss
  packages/mobile/src/page/Home/SuggestionModal/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug

#824 [mobile] 브래드크럼브 제작
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/page/Board/components/BoardItem/index.tsx
  packages/mobile/src/page/Board/components/BoardList/index.tsx
  packages/mobile/src/page/Board/components/BreadCrumb/index.tsx
  packages/mobile/src/page/Board/components/BreadCrumb/style.module.scss
  packages/mobile/src/page/Board/components/Breadcrumb/index.tsx
  packages/mobile/src/page/Board/components/Breadcrumb/style.module.scss
  packages/mobile/src/page/Board/index.tsx
  packages/mobile/src/store/boardSlice.ts
Labels: ✨ Feature, 🐛 Bug

#851 [mobile] 뒤로가기 분기처리
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
Labels: 👋 self-approve, QA - 버그

#852 [mobile] 공지사항 북마크 토스트 추가
  packages/mobile/src/components/atoms/ShareButton/index.tsx
  packages/mobile/src/components/atoms/Toast/index.tsx
  packages/mobile/src/components/shared/SubscriptionNoticeGroup/index.tsx
  packages/mobile/src/consts/react-query/queryKey.ts
  packages/mobile/src/consts/react-query/staleTime.ts
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/hooks/api/cafeteria/index.ts
  packages/mobile/src/hooks/api/schedule/index.ts
  packages/mobile/src/hooks/api/school/index.ts
  packages/mobile/src/hooks/api/weather/index.ts
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/page/Board/components/BoardList/index.tsx
  packages/mobile/src/page/Board/components/Title/index.tsx
  packages/mobile/src/page/Home/Article/index.tsx
  packages/mobile/src/store/index.ts
  packages/mobile/src/store/toastSlice.ts
  packages/mobile/src/utils/toast.ts
Labels: QA - 개선, QA - UI/UX

#860 [mobile] 접근환경에 따른 분기처리
  packages/mobile/src/App.tsx
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/utils/storage.ts
  packages/mobile/src/utils/webview.ts
  packages/shared/src/util/index.ts
Labels: QA - 버그

#862 [mobile] 스와이프시 뒤로가기/앞으로가기 기능 추가
  packages/mobile/package.json
  packages/mobile/src/components/molecules/SwiperImage/index.tsx
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/hooks/useSwipe.ts
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/DetailGroup/style.module.scss
  packages/mobile/src/page/Place/MoreImage/index.tsx
  packages/shared/src/styles/global.scss
  yarn.lock
Labels: ✨ Feature, 📱 Mobile, QA - 개선

#856 [mobile] 일정 페이지 비동기 컴포넌트 분리
  packages/mobile/src/hooks/api/core/index.ts
  packages/mobile/src/hooks/api/schedule/index.ts
  packages/mobile/src/page/Calendar/CalendarBody.tsx
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
Labels: 📱 Mobile, ♻️ Refactor, QA - 개선

#875 [mobile] fullModalTemplate header z-index 제거
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
Labels: 👋 self-approve, QA - 버그

#858 [mobile] 홈 식당 선택 모달을 반응형 디자인으로 다시 스타일링하기
  packages/mobile/src/page/Home/Restaurant/Selector/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, QA - 개선

#877 [setting] vscode ts를 개발환경에 맞도록 세팅
  .vscode/settings.json
Labels: ⚙ Setting

#873 [mobile] 휴일 버그 개선 및 휴일 api 추가
  packages/mobile/src/consts/react-query/queryKey.ts
  packages/mobile/src/consts/react-query/staleTime.ts
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/hooks/api/cafeteria/index.ts
  packages/mobile/src/hooks/api/core/index.ts
  packages/mobile/src/hooks/api/schedule/index.ts
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/index.tsx
Labels: 📱 Mobile, 👽 API, ♻️ Refactor, QA - 버그

#868 [mobile] 홈 식단 선택 모달에서 "표시안함"을 선택했을 때 확인 모달 띄우기
  packages/mobile/src/hooks/useModal.ts
  packages/mobile/src/page/Home/Restaurant/Selector/ComfirmModal/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selector/ComfirmModal/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
  packages/mobile/src/page/Home/Weather/index.tsx
  packages/mobile/src/page/Home/hooks.ts
  packages/mobile/src/page/Home/index.tsx
Labels: 📱 Mobile, 💄 UI/UX, QA - 개선

#878 [server] 토큰 한번에 1000개씩 보내기
  packages/server/src/fcm/fcm.service.ts
  packages/server/src/fcm/fcm.spec.ts
Labels: 🖥 Server

#880 [mobile] isHoliday type guard 버그 개선
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
Labels: 👋 self-approve, 📱 Mobile, 🐛 Bug, QA - 버그

#881 [scraper] 스크래퍼 cron job으로 실행 및 배포에 포함
  deploy.sh
  packages/scraper/package.json
  packages/scraper/src/cafeteria-scraper/cafeteria-scraper.spec.ts
  packages/scraper/src/cafeteria-scraper/cafeteria-scraper.ts
  packages/scraper/src/common/log.ts
  packages/scraper/src/main.ts
  packages/scraper/src/notice-scraper/notice-scraper.ts
  packages/scraper/src/schedule-scraper/schedule-scraper.ts
  packages/scraper/src/scraper/scraper.ts
  yarn.lock
Labels: 🌏 Deploy, 🕸 Scraper

#882 [mobile] 식단 디자인 QA
  packages/mobile/src/components/molecules/CafeteriaMenuCard/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, QA - UI/UX

#874 [mobile] [QA] Map, Place에서 로딩일 때, 없음으로 나타나서 페이지 전체를 가림
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/hooks/api/school/index.ts
  packages/mobile/src/page/Map/Detail/MapDetailBody.tsx
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/PlaceDetailBody.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
Labels: 📱 Mobile, QA - 버그, QA - 개선

#746 [server] 학교 캠퍼스 건물 데이터 수정
  packages/server/src/school/school.spec.ts
Labels: 🖥 Server, 🗃 Database

#870 [mobile] 홈, 일정, 식단 페이지에 새로고침 버튼 추가
  packages/mobile/src/components/atoms/icon/Reload.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/shared/ReloadButton/index.tsx
  packages/mobile/src/components/shared/ReloadButton/style.module.scss
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/reloadCafeteriaQueries.ts
  packages/mobile/src/page/Cafeteria/CafateriaBody/style.module.scss
  packages/mobile/src/page/Calendar/CalendarBody.tsx
  packages/mobile/src/page/Calendar/CardBox/index.tsx
  packages/mobile/src/page/Calendar/CardBox/reloadCalendarQueries.ts
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/reloadHomeQueries.ts
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/utils/getCafeteriaData.ts
  packages/mobile/src/utils/refetchManyQueries.ts
Labels: ✨ Feature, 📱 Mobile

#888 [deploy] commit message 기본으로 수정
  .github/workflows/git-push.yml
Labels: 🌏 Deploy

#889 [DTP] develop to production
  .github/workflows/git-push.yml
Labels: 🌏 Deploy

#890 [server] board save를 boardReposity.save로 변경
  packages/server/src/board/board.service.ts
Labels: 🖥 Server, 🐛 Bug

#893 [QA] admin dev/prod 구분 조건 추가
  packages/shared/src/util/index.ts
Labels: QA - 버그

#894 [DTP] develop to production
  packages/server/src/board/board.service.ts
  packages/shared/src/util/index.ts
Labels: 🙏🏻배포

#895 [scraper] 스크래핑전 로그인 하도록 수정
  deploy.sh
  deploy_production.sh
  packages/scraper/src/cafeteria-scraper/cafeteria-scraper.ts
  packages/scraper/src/common/login.ts
  packages/scraper/src/main.ts
  packages/scraper/src/notice-scraper/notice-scraper.ts
  packages/scraper/src/schedule-scraper/schedule-scraper.ts
  packages/shared/src/board-tree/board-tree.generated.js
  packages/shared/src/board-tree/board-tree.generated.sql
  packages/shared/src/board-tree/board-tree.js
Labels: 🕸 Scraper

#884 [mobile] 캠퍼스맵 상세 조회 헤더 스타일 수정
  .github/workflows/ci.yml
  packages/mobile/src/components/templates/FullPageModalTemplate/index.tsx
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/Detail/style.module.scss
Labels: 📱 Mobile, QA - 개선, QA - UI/UX

#887 [mobile] 캠퍼스맵 페이지에 새로고침 버튼 추가
  packages/mobile/src/components/shared/ReloadButton/index.tsx
  packages/mobile/src/hooks/api/school/index.ts
  packages/mobile/src/page/Place/Detail/PlaceDetailBody.tsx
  packages/mobile/src/page/Place/Detail/getUpperCasePosition.ts
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/reloadPlaceQueries.ts
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#901 [mobile] pan-y 특정 부분에만 적용
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/hooks/useSwipe.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/Detail/style.module.scss
  packages/shared/src/styles/global.scss
Labels: QA - 버그

#902 [mobile] 이미지 프리뷰 크기 제한, 데스크탑환경에서는 모달 안띄우게 수정
  packages/mobile/src/components/molecules/SwiperImage/style.module.scss
  packages/mobile/src/components/shared/ImageModal/index.tsx
  packages/mobile/src/components/shared/ImageModal/style.module.scss
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
Labels: QA - 버그

#905 [mobile] rootmargin 더주기
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
Labels: 👋 self-approve, QA - 개선

#907 [mobile] 동아리 추가
  packages/mobile/src/page/Board/components/BoardList/index.tsx
  packages/mobile/src/page/Board/components/Title/index.tsx
Labels: 👋 self-approve, 📱 Mobile

#909 [admin] 게시물 목록 메뉴를 두번 클릭시 게시물 목록이 나타나지 않는 버그 수정
  packages/admin/src/pages/ArticlePage/ArticleWrite/SelectBoard/SelectBoard.tsx
Labels: 🤵‍♂️ Admin

#910 [QA] 캠퍼스맵 디자인 QA
  packages/mobile/src/components/atoms/icon/Call.tsx
  packages/mobile/src/components/atoms/icon/Map.tsx
  packages/mobile/src/page/Map/Info/index.tsx
  packages/mobile/src/page/Place/DetailGroup/style.module.scss
Labels: 📱 Mobile, QA - UI/UX

#913 [scraper] 스크래퍼 노드 프로세스 전체 error 캐치 로그 추가
  packages/scraper/src/main.ts
Labels: 🕸 Scraper

#914 [scraper] 공지사항 목록에서 스크래핑 실패시 continue
  packages/scraper/src/notice-scraper/notice-scraper.ts
Labels: 🕸 Scraper

#915 [scraper] 공지사항 게시판 접속 프로토콜 일괄 https로 변경
  packages/scraper/src/notice-scraper/scripts/경영대학/경영학부.js
  packages/scraper/src/notice-scraper/scripts/공과대학/건축공학과.js
  packages/scraper/src/notice-scraper/scripts/공과대학/건축학과.js
  packages/scraper/src/notice-scraper/scripts/공과대학/공업화학과.js
  packages/scraper/src/notice-scraper/scripts/공과대학/기계공학부.js
  packages/scraper/src/notice-scraper/scripts/공과대학/신소재공학과.js
  packages/scraper/src/notice-scraper/scripts/공과대학/안전공학과.js
  packages/scraper/src/notice-scraper/scripts/공과대학/토목공학부.js
  packages/scraper/src/notice-scraper/scripts/공과대학/화학공학과.js
  packages/scraper/src/notice-scraper/scripts/공과대학/환경공학과.js
  packages/scraper/src/notice-scraper/scripts/공통/sw중심대학사업단.js
  packages/scraper/src/notice-scraper/scripts/공통/취업지원본부공지사항.js
  packages/scraper/src/notice-scraper/scripts/공통/취업지원본부채용설명회.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/목재종이과학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/바이오시스템공학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/산림학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/식물자원학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/지역건설공학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/특용식물학과.js
  packages/scraper/src/notice-scraper/scripts/농업생명환경대학/환경생명화학과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/교육학과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/국어교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/물리교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/사회교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/생물교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/수학교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/역사교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/영어교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/윤리교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/지구과학교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/지리교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/체육교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/화학교육과.js
  packages/scraper/src/notice-scraper/scripts/생활과학대학/소비자학과.js
  packages/scraper/src/notice-scraper/scripts/생활과학대학/식품영양학과.js
  packages/scraper/src/notice-scraper/scripts/생활과학대학/아동복지학과.js
  packages/scraper/src/notice-scraper/scripts/약학대학/약학과.js
  packages/scraper/src/notice-scraper/scripts/융합학과군/조형예술학과.js
  packages/scraper/src/notice-scraper/scripts/의과대학/의학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/고고미술사학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/국어국문학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/독일언어문학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/러시아언어문화학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/사학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/영어영문학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/중어중문학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/철학과.js
  packages/scraper/src/notice-scraper/scripts/인문대학/프랑스언어문화학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/미생물학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/생물학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/생화학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/수학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/정보통계학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/지구환경과학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/천문우주학과.js
  packages/scraper/src/notice-scraper/scripts/자연과학대학/화학과.js
  packages/scraper/src/notice-scraper/scripts/전자정보대학/전기공학부.js
  packages/scraper/src/notice-scraper/scripts/전자정보대학/전자공부학부.js
  packages/scraper/src/notice-scraper/scripts/전자정보대학/정보통신공학부.js
  packages/scraper/src/notice-scraper/scripts/전자정보대학/컴퓨터공학과.js
Labels: 🕸 Scraper

#911 [mobile] 공지사항 페이지에 새로고침 버튼 추가
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Article/style.module.scss
  packages/mobile/src/page/Article/useReloadArticleQueries.ts
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#917 [mobile] 일정 페이지 캘린더에서 전달과 다음달 날짜도 선택할 수 있게 하기
  packages/mobile/src/page/Calendar/Date/index.tsx
Labels: 👋 self-approve, 📱 Mobile, QA - 개선

#918 [scraper] 스크래퍼 캐시 무시
  packages/scraper/src/scraper/scraper.ts
Labels: 🕸 Scraper

#922 [scraper] SSL 관련 인증서 오류 무시
  packages/scraper/src/scraper/scraper.ts
Labels: 🕸 Scraper

#923 [scraper] `https` 지원하지 않는 사이트들 수정
  packages/scraper/src/notice-scraper/scripts/공통/취업지원본부공지사항.js
  packages/scraper/src/notice-scraper/scripts/융합학과군/조형예술학과.js
Labels: 🕸 Scraper

#921 [mobile] ErrorBoundary 컴포넌트 리팩토링
  packages/mobile/package.json
  packages/mobile/src/components/atoms/ErrorFallback/index.tsx
  packages/mobile/src/components/atoms/ErrorFallbackWithStyle/index.tsx
  packages/mobile/src/components/atoms/SuspenseFallback/index.tsx
  packages/mobile/src/components/templates/AsyncBoundary/AsyncBoundary.test.tsx
  packages/mobile/src/components/templates/AsyncBoundary/index.tsx
  packages/mobile/src/components/templates/ErrorBoundary.tsx
  packages/mobile/src/page/Article/index.tsx
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Home/Restaurant/index.tsx
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
  yarn.lock
Labels: 👋 self-approve, 📱 Mobile, ♻️ Refactor

#924 [scraper] 교육과 스크립트에서는 https -> http
  packages/scraper/src/notice-scraper/scripts/사범대학/국어교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/물리교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/사회교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/생물교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/수학교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/역사교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/영어교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/윤리교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/지구과학교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/지리교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/체육교육과.js
  packages/scraper/src/notice-scraper/scripts/사범대학/화학교육과.js
Labels: 🕸 Scraper

#926 [scraper] 행정학과 날짜에 시간만 있는 경우 수정
  packages/scraper/src/notice-scraper/scripts/사회과학대학/경제학과.js
Labels: 🕸 Scraper
