Repository CMI-OSS/cbnu-alrami, pull requests merged in 2023-06, with the labels that each got.

#936 [scraper] 스크래퍼 로깅 강화 및 알림 날짜 조건 추가
  packages/scraper/src/common/log.ts
  packages/scraper/src/notice-scraper/notice-scraper.ts
  packages/scraper/src/scraper/scraper.ts
  packages/server/src/fcm/fcm.service.ts
Labels: 🕸 Scraper

#938 [server] 공지사항 내용 문자열 압축/복호화
  packages/scraper/src/notice-scraper/notice-scraper.ts
  packages/server/package.json
  packages/server/src/article/article.service.ts
  packages/server/src/article/entities/article.entity.ts
  packages/server/src/article/entities/content.transformer.ts
  packages/server/src/main.ts
  yarn.lock
Labels: 🖥 Server

#940 [mobile] 공지사항 링크 말줄임안되는 것 제거
  packages/mobile/src/page/Home/Article/style.module.scss
Labels: 📱 Mobile, QA - UI/UX

#941 [mobile] 모달 버튼 선 깨지는 현상 임시 수정
  packages/mobile/src/page/Home/Restaurant/Selector/ComfirmModal/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
Labels: 📱 Mobile, QA - UI/UX

#942 [srver/scraper] 콘텐츠 사이즈 늘리기, 에러 로깅 수정
  packages/mobile/src/components/molecules/Footer/index.tsx
  packages/scraper/src/common/log.ts
  packages/scraper/src/notice-scraper/notice-scraper.ts
  packages/server/src/article/entities/article.entity.ts
Labels: 🖥 Server, 🕸 Scraper

#943 [mobile] 충림이 og 이미지 추가
  packages/mobile/index.html
  packages/mobile/src/assets/cbnu_alrami_og.png
  packages/mobile/src/consts/index.ts
Labels: 👋 self-approve, 📱 Mobile

#944 [mobile] webview 허용된 UA만 작동
  packages/mobile/src/utils/webview.ts
Labels: 📱 Mobile

#946 [server] esModuleInterop true로 설정
  packages/server/src/article/article.service.ts
  packages/server/tsconfig.json
Labels: 🖥 Server

#948 dev to production
  packages/server/src/article/article.service.ts
  packages/server/tsconfig.json
Labels: 🙏🏻배포

#949 [mobile] 웹뷰일때만 FCM 토큰 전송하도록 수정
  packages/mobile/src/hooks/useFCMToken.ts
  packages/server/src/fcm/fcm.service.ts
Labels: 📱 Mobile

#951 [mobile] 딥링크추가
  packages/mobile/src/App.tsx
  packages/mobile/src/components/molecules/DeepLink/index.tsx
  packages/mobile/src/components/molecules/DeepLink/style.module.scss
Labels: 📱 Mobile

#950 [mobile] 홈 식당 정보 없을 때 있을 때 폰트 사이즈 다른 것 수정
  packages/mobile/src/page/Home/Restaurant/EmptyCafeteria/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/index.tsx
  packages/mobile/src/page/Home/Restaurant/Selected/style.module.scss
Labels: 📱 Mobile, QA - 개선, QA - UI/UX
