Repository CMI-OSS/cbnu-alrami, pull requests merged in 2023-03, with the labels that each got.

#666 [mobile] 공지사항 미리보기 이미지 모달
  packages/mobile/src/components/atoms/icon/Download.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/components/molecules/ImageSlider/index.tsx
  packages/mobile/src/components/molecules/ImageSlider/style.module.scss
  packages/mobile/src/components/shared/ImageModal/index.tsx
  packages/mobile/src/components/shared/ImageModal/style.module.scss
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/Detail/style.module.scss
Labels: 📱 Mobile

#668 [mobile] 공지사항 다운로드
  packages/mobile/src/components/molecules/ImageSlider/style.module.scss
  packages/mobile/src/components/shared/ImageModal/index.tsx
  packages/mobile/src/components/shared/ImageModal/style.module.scss
Labels: 📱 Mobile

#670 [mobile] 아티클 데이터 없을 경우 분기처리
  packages/mobile/src/hooks/api/article/index.ts
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
  packages/mobile/src/page/Article/index.tsx
Labels: 👋 self-approve, 🐛 Bug

#672 [mobile] uuid 모두 넣어주기
  packages/mobile/src/App.tsx
  packages/mobile/src/utils/storage.ts
Labels: 👋 self-approve

#675 [mobile] 버튼 텍스트 색 변경
  packages/mobile/index.html
  packages/mobile/src/page/Article/Detail/style.module.scss
  packages/shared/src/styles/global.scss
Labels: 👋 self-approve, 🐛 Bug

#682 [mobile] 홈 식단 카드 스타일 오류 수정
  packages/mobile/src/page/Home/Restaurant/EmptyCafeteria/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selected/style.module.scss
  packages/mobile/src/page/Home/Restaurant/Selector/style.module.scss
Labels: 📱 Mobile, 💄 UI/UX, 🐛 Bug

#684 [mobile] 특정 현재 온도에서 옷차림 추천이 작동하지 않는 문제 수정
  packages/mobile/src/page/Home/SuggestionModal/index.tsx
Labels: 📱 Mobile, 🐛 Bug

#688 [server] 일정 조회 query 로직 수정
  packages/server2/src/schedule/entities/schedule.entity.ts
  packages/server2/src/schedule/schedule.service.ts
  packages/server2/src/schedule/schedule.swagger.ts
  packages/shared/src/swagger-api/generated/models/CreateScheduleDto.ts
  packages/shared/src/swagger-api/generated/models/Schedule.ts
  packages/shared/src/swagger-api/generated/services/ScheduleApiService.ts
Labels: 🖥 Server

#689 [server] enum을 사용하는 Entity 수정
  packages/server2/src/school/entities/school.entity.ts
Labels: 👋 self-approve, 🗃 Database, 🐛 Bug

#686 [mobile] 홈 디자인 가이드 변경에 따른 스타일 변경
  packages/mobile/src/components/atoms/icon/CMIAppLogo.tsx
  packages/mobile/src/components/atoms/icon/CMITeamLogo.tsx
  packages/mobile/src/components/atoms/icon/index.ts
  packages/mobile/src/page/Home/index.tsx
  packages/mobile/src/page/Home/style.module.scss
  packages/mobile/src/page/Setting/Creator/index.tsx
Labels: 📱 Mobile, 💄 UI/UX

#687 [mobile] 충림이 공지사항 url 변경
  packages/mobile/src/hooks/api/board/index.ts
  packages/mobile/src/main.tsx
  packages/mobile/src/page/Setting/Main/constants.ts
Labels: 🐛 Bug

#674 [mobile] 캠퍼스맵 이미지 클릭시 확대보기 모달 및 캠퍼스맵 geolocation api 제거
  packages/mobile/src/__mocks__/constructionInfo.ts
  packages/mobile/src/__mocks__/detailImageList.ts
  packages/mobile/src/__mocks__/index.ts
  packages/mobile/src/__mocks__/mapImageList.ts
  packages/mobile/src/__mocks__/placeInfoList.ts
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/components/molecules/MapHeader/index.tsx
  packages/mobile/src/components/molecules/MapImageList/index.tsx
  packages/mobile/src/components/molecules/MapImageList/style.module.scss
  packages/mobile/src/components/shared/ImageModal/index.tsx
  packages/mobile/src/page/Map/Detail/index.tsx
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/MoreImage/index.tsx
Labels: ✨ Feature, 📱 Mobile, 💄 UI/UX

#695 [server] 휴일 판단 API 제공
  packages/server2/src/schedule/schedule.controller.ts
  packages/server2/src/schedule/schedule.service.ts
  packages/server2/src/schedule/schedule.swagger.ts
  packages/shared/src/swagger-api/generated/index.ts
  packages/shared/src/swagger-api/generated/models/PartialSchdule.ts
  packages/shared/src/swagger-api/generated/services/ScheduleApiService.ts
Labels: 👋 self-approve, 🖥 Server

#697 [Mobile] 식단 query string으로 상태관리하기
  packages/mobile/src/components/atoms/ShareButton/index.tsx
  packages/mobile/src/constants.ts
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/index.tsx
  packages/mobile/src/page/Cafeteria/CafateriaBody/style.module.scss
  packages/mobile/src/page/Cafeteria/hooks.ts
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/utils.ts
  packages/mobile/src/page/Calendar/calendarReducer.ts
  packages/mobile/src/styles/main.scss
  packages/mobile/src/styles/variable.scss
Labels: 📱 Mobile, ♻️ Refactor, 💄 UI/UX

#698 [mobile] shell script 추가
  build.sh
Labels: 🌏 Deploy

#700 [mobile] 타입수정
  packages/mobile/src/consts/react-query/index.ts
Labels: 🐛 Bug

#721 [mobile] route 와일드카드 추가
  packages/admin/src/App.tsx
  packages/mobile/src/App.tsx
Labels: 🐛 Bug

#723 [mobile] setting: vercel 파일 추가
  packages/admin/vercel.json
  packages/mobile/vercel.json
Labels: 🐛 Bug

#719 [mobile] naver map clientid 변경
  packages/mobile/index.html
Labels: 👋 self-approve, ⚙ Setting, 📱 Mobile

#728 [mobile] yml 파일 하나로 관리
  .github/workflows/git-push-production.yml
  .github/workflows/git-push.yml
Labels: 🌏 Deploy

#731 [server] dev환경에서만 typeorm 로깅
  .github/workflows/dev-deploy.yml
  packages/server/src/app.module.ts
Labels: 🖥 Server

#717 [mobile] iOS 노치 디자인 대응하기
  packages/mobile/index.html
  packages/mobile/src/components/molecules/ChipGroup/style.module.scss
  packages/mobile/src/components/molecules/Footer/style.module.scss
  packages/mobile/src/components/molecules/ImageSlider/style.module.scss
  packages/mobile/src/components/molecules/MenuList/style.module.scss
  packages/mobile/src/components/shared/ImageModal/style.module.scss
  packages/mobile/src/components/templates/FullPageModalTemplate/style.module.scss
  packages/mobile/src/mobile.scss
  packages/mobile/src/page/Article/Detail/style.module.scss
  packages/mobile/src/page/Article/components/ArticleList/style.module.scss
  packages/mobile/src/page/Article/components/Footer/style.module.scss
  packages/mobile/src/page/Article/components/Slider/style.module.scss
  packages/mobile/src/page/Article/style.module.scss
  packages/mobile/src/page/Board/Article/style.module.scss
  packages/mobile/src/page/Board/components/BoardList/style.module.scss
  packages/mobile/src/page/Board/style.module.scss
  packages/mobile/src/page/Cafeteria/CafateriaBody/style.module.scss
  packages/mobile/src/page/Cafeteria/index.tsx
  packages/mobile/src/page/Cafeteria/style.module.scss
  packages/mobile/src/page/Calendar/CardBox/style.module.scss
  packages/mobile/src/page/Calendar/ScheduleCalendar/style.module.scss
  packages/mobile/src/page/Calendar/index.tsx
  packages/mobile/src/page/Calendar/style.module.scss
  packages/mobile/src/page/Map/Detail/style.module.scss
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/style.module.scss
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/Error/style.module.scss
  packages/mobile/src/page/Place/Report/style.module.scss
  packages/mobile/src/page/Setting/Creator/style.module.scss
  packages/mobile/src/page/Setting/SettingTemplate/style.module.scss
  packages/mobile/src/styles/main.scss
  packages/mobile/src/styles/mixin.scss
  packages/mobile/src/styles/variable.scss
  packages/shared/src/styles/mixin.scss
Labels: 📱 Mobile, ♻️ Refactor, 💄 UI/UX, ⭐ Important

#734 fix: target branch 값 수정
  .github/workflows/git-push.yml
Labels: 🐛 Bug

#737 [mobile] 캠퍼스맵 아이콘 및 텍스트 색상 변경
  packages/mobile/src/page/Map/Info/style.module.scss
  packages/mobile/src/page/Map/Spot/index.tsx
  packages/mobile/src/page/Map/Spot/style.module.scss
  packages/mobile/src/page/Map/index.tsx
  packages/mobile/src/page/Place/Detail/index.tsx
Labels: 📱 Mobile, 🎨 code style, ♻️ Refactor, 💄 UI/UX

#738 [mobile] 아이콘 수정 및 디자인 싱크 맞추기
  packages/mobile/src/components/atoms/icon/Alarm.tsx
  packages/mobile/src/components/atoms/icon/AppVersion.tsx
  packages/mobile/src/components/atoms/icon/Close.tsx
  packages/mobile/src/components/atoms/icon/LeftArrow.tsx
  packages/mobile/src/components/atoms/icon/Person.tsx
  packages/mobile/src/components/atoms/icon/Star.tsx
  packages/mobile/src/components/atoms/icon/UnAlarm.tsx
  packages/mobile/src/components/shared/SubscriptionNoticeGroup/index.tsx
  packages/mobile/src/components/shared/SubscriptionNoticeGroup/style.module.scss
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/Detail/style.module.scss
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/page/Article/style.module.scss
  packages/mobile/src/page/Board/Article/index.tsx
  packages/mobile/src/page/Board/Article/style.module.scss
  packages/mobile/src/page/Board/components/Title/index.tsx
  packages/mobile/src/page/Board/components/Title/style.module.scss
  packages/mobile/src/page/Board/index.tsx
  packages/mobile/src/page/Board/style.module.scss
Labels: 💄 UI/UX

#740 [mobile] 캘린더 페이지 디자인 가이드 수정에 따른 스타일 변경
  packages/mobile/src/page/Calendar/ArrowButton/index.tsx
  packages/mobile/src/page/Calendar/CollegeCard/index.tsx
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX

#741 [mobile] 실수로 서버 host 잘못설정
  packages/mobile/src/main.tsx
Labels: 🐛 Bug

#743 [mobile] 이미지 스와이퍼 제작
  packages/mobile/src/components/molecules/ImageList/index.tsx
  packages/mobile/src/components/molecules/ImageSlider/index.tsx
  packages/mobile/src/components/molecules/MapImageList/index.tsx
  packages/mobile/src/components/molecules/SwiperImage/index.tsx
  packages/mobile/src/components/molecules/SwiperImage/style.module.scss
  packages/mobile/src/components/shared/ImageModal/index.tsx
  packages/mobile/src/components/shared/ImageModal/style.module.scss
  packages/mobile/src/page/Article/Detail/index.tsx
Labels: 📱 Mobile

#745 [server] 개발 서버 도메인 이름 변경
  packages/shared/src/constant.ts
Labels: 🖥 Server

#742 [server] 새로운 공지사항 업로드시 FCM 메시지 발행
  packages/admin/src/pages/ArticlePage/ArticleWrite/ArticleWrite.store.ts
  packages/admin/src/pages/ArticlePage/ArticleWrite/ArticleWrite.tsx
  packages/server/package.json
  packages/server/src/article-bookmark/article-bookmark.service.ts
  packages/server/src/article/article.module.ts
  packages/server/src/article/article.service.ts
  packages/server/src/board/board.service.ts
  packages/server/src/fcm/fcm.module.ts
  packages/server/src/fcm/fcm.service.ts
  packages/server/src/fcm/fcm.spec.ts
Labels: 🖥 Server

#747 [deploy] deploy shell에 서버만 남기도록 수정
  deploy.sh
Labels: 🌏 Deploy

#748 [mobile] 이미지스와이퍼 버그수정
  packages/mobile/src/components/molecules/SwiperImage/index.tsx
  packages/shared/src/styles/global.scss
Labels: 🐛 Bug

#750 [server] FCM에 articleId도 실어서 보내기
  packages/server/src/fcm/fcm.service.ts
Labels: 🖥 Server

#749 [mobile] 공지사항 URL 클릭시 새창으로 띄우기
  packages/mobile/package.json
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/Footer/index.tsx
Labels: 📱 Mobile

#755 [server] 게시판 계층 조회 최적화
  packages/server/src/board/board.controller.ts
  packages/server/src/board/board.service.ts
  packages/server/src/fcm/fcm.spec.ts
Labels: 🖥 Server

#756 [admin] 관리자 페이지 로그아웃, 게시판,장소,관리자 삭제 버튼
  packages/admin/src/components/Layout/Page/Navigation/Navigation.module.scss
  packages/admin/src/components/Layout/Page/Navigation/Navigation.view.tsx
  packages/admin/src/pages/AdminPage/Admin/Admin.tsx
  packages/admin/src/pages/BoardPage/BoardEdit/BoardEdit.tsx
  packages/admin/src/pages/PlacePage/Place/Place.tsx
  packages/server/src/board/entities/board.entity.ts
Labels: 🤵‍♂️ Admin

#754 [mobile] 데스크탑 공지사항 이미지 화살표 추가
  packages/mobile/index.html
  packages/mobile/src/components/molecules/SwiperImage/index.tsx
  packages/mobile/src/components/shared/ImageModal/index.tsx
Labels: 📱 Mobile

#760 [mobile/server] native에서 이미지 다운로드 및 외부 URL 이동가능 하도록 baseApp 프로토콜 수정
  packages/mobile/src/components/atoms/ShareButton/index.tsx
  packages/mobile/src/components/shared/ImageModal/index.tsx
  packages/mobile/src/page/Article/components/Footer/index.tsx
  packages/mobile/src/type/global.d.ts
  packages/server/src/fcm/fcm.service.ts
Labels: 👋 self-approve, 📱 Mobile, 🖥 Server

#761 [admin] 임시로 처리했던 boardId 되돌리기
  packages/admin/src/pages/ArticlePage/ArticleWrite/Submit/Submit.tsx
Labels: 🤵‍♂️ Admin

#757 [mobile] 캠퍼스맵 문구 제거
  packages/mobile/src/page/Place/Detail/index.tsx
  packages/mobile/src/page/Place/Detail/style.module.scss
  packages/mobile/src/page/Place/DetailGroup/style.module.scss
Labels: 📱 Mobile, ♻️ Refactor

#759 [mobile] 캠퍼스맵 뒤로가기 버튼 디자인과 다른 이슈
  packages/mobile/src/page/Map/style.module.scss
Labels: ♻️ Refactor

#765 [mobile] 좋아요수로 변경
  packages/mobile/src/page/Article/Detail/index.tsx
  packages/mobile/src/page/Article/components/ArticleItem/index.tsx
  packages/mobile/src/page/Article/components/ArticleList/index.tsx
Labels: 👋 self-approve, 🐛 Bug

#767 [mobile] 모바일 홈 좌우 마진 다른 것 수정
  packages/mobile/src/page/Home/style.module.scss
Labels: 👋 self-approve, 📱 Mobile, 💄 UI/UX, 🐛 Bug

#769 [mobile] 홈 설정 > 대표식당 > label id 유동적으로 변하게 수정
  packages/mobile/src/components/molecules/RadioSelect/index.tsx
Labels: 📱 Mobile, 🐛 Bug
