Repository CMI-OSS/cbnu-alrami, pull requests merged in 2023-01, with the labels that each got.

#582 [Feat] 학교 건물 리스트 불러오기, 업데이트, 삭제 기능
  packages/admin/src/api/place.ts
  packages/admin/src/components/Pagination/Pagination.helper.ts
  packages/admin/src/components/Pagination/Pagination.module.scss
  packages/admin/src/components/Pagination/Pagination.view.tsx
  packages/admin/src/components/PlaceManagement/AddForm/index.tsx
  packages/admin/src/constants/place.ts
  packages/admin/src/lib/socket.ts
  packages/admin/src/newApi/placeApi/getPlace.ts
  packages/admin/src/newApi/placeApi/getPlaces.ts
  packages/admin/src/pages/BoardPage/ArticleList/ArticleList.tsx
  packages/admin/src/pages/BoardPage/ArticleWrite/ArticleWrite.store.ts
  packages/admin/src/pages/BoardPage/ArticleWrite/UploadImage/UploadImage.view.tsx
  packages/admin/src/pages/PlaceManagementPage/Place.route.tsx
  packages/admin/src/pages/PlaceManagementPage/Place/Place.module.scss
  packages/admin/src/pages/PlaceManagementPage/Place/Place.tsx
  packages/admin/src/pages/PlaceManagementPage/Place/Place.view.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceAdd.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceForm/PlaceForm.view.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceForm/index.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceForm/style.module.scss
  packages/admin/src/pages/PlaceManagementPage/PlaceForm/yup.ts
  packages/admin/src/pages/PlaceManagementPage/PlaceList/PlaceList.module.scss
  packages/admin/src/pages/PlaceManagementPage/PlaceList/PlaceList.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceList/PlaceList.view.tsx
  packages/admin/src/pages/PlaceManagementPage/PlaceUpdate.tsx
  packages/admin/src/pages/PlaceManagementPage/place.utils.ts
  packages/admin/src/types/index.ts
  packages/admin/src/types/place.ts
Labels: ✨ Feature, 👽 API, 💄 UI/UX, 🤵‍♂️ Admin

#581 webpack 관련 패키지 및 스크립트 제거
  package.json
  packages/admin/.gitignore
  packages/admin/package.json
  packages/admin/vite.config.ts
  packages/mobile/.gitignore
  packages/mobile/package.json
  packages/mobile/vite.config.ts
  yarn.lock
Labels: ⚙ Setting, ♻️ Refactor

#585 [server2] 설정파일에 synchronize 추가 및 누락된 게시물 이미지 타입 추가
  packages/server2/src/app.module.ts
  packages/server2/src/article/article.service.ts
  packages/server2/src/article/dto/create-article.dto.ts
  packages/server2/src/article/entities/article.entity.ts
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/types.ts
  packages/server2/src/image/dto/create-image.dto.ts
  packages/shared/package.json
  packages/shared/src/swagger-api/generated/models/CreateArticleDto.ts
  packages/shared/src/swagger-api/generated/models/CreatePlaceDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticleDetailDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseArticleDto.ts
  packages/shared/src/swagger-api/generated/models/UpdateArticleDto.ts
  packages/shared/src/swagger-api/index.ts
  packages/shared/src/swagger-api/spec.json
  yarn.lock
Labels: 👋 self-approve

#587 [server] Weather API 리팩토링
  packages/server2/src/app.module.ts
  packages/server2/src/cafeteria-menu/cafeteria-menu.constant.ts
  packages/server2/src/cafeteria-menu/entities/cafeteria-menu.entity.ts
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/types.ts
  packages/server2/src/weather/entities/weather.entity.ts
  packages/server2/src/weather/weather.constant.ts
  packages/server2/src/weather/weather.controller.ts
  packages/server2/src/weather/weather.module.ts
  packages/server2/src/weather/weather.service.ts
  packages/shared/src/swagger-api/generated/index.ts
  packages/shared/src/swagger-api/generated/models/Admin.ts
  packages/shared/src/swagger-api/generated/models/BoardAuthority.ts
  packages/shared/src/swagger-api/generated/models/CafeteriaMenu.ts
  packages/shared/src/swagger-api/generated/models/CreateAdminDto.ts
  packages/shared/src/swagger-api/generated/models/CreateBoardAuthorityDto.ts
  packages/shared/src/swagger-api/generated/models/CreateCafeteriaMenuDto.ts
  packages/shared/src/swagger-api/generated/models/CreateSchoolDto.ts
  packages/shared/src/swagger-api/generated/models/School.ts
  packages/shared/src/swagger-api/generated/models/UpdateAdminDto.ts
  packages/shared/src/swagger-api/generated/models/UpdateSchoolDto.ts
  packages/shared/src/swagger-api/generated/models/Weather.ts
  packages/shared/src/swagger-api/generated/services/WeatherApiService.ts
  packages/shared/src/swagger-api/index.ts
Labels: 👽 API, 🖥 Server, ♻️ Refactor

#589 [server] Board 테스트 코드 사용해서 seed 데이터 만들기
  packages/server2/package.json
  packages/server2/src/article/article.service.ts
  packages/server2/src/board-authority/entities/board-authority.entity.ts
  packages/server2/src/board/board.service.ts
  packages/server2/src/board/board.spec.ts
  packages/server2/src/board/entities/board.entity.ts
  packages/server2/src/common/entity.ts
  packages/server2/src/image/dto/create-image.dto.ts
  packages/server2/src/image/image.service.ts
  packages/server2/tsconfig.json
Labels: 🖥 Server, ♻️ Refactor

#588 [server] FCM 모듈 리팩토링
  packages/server2/package.json
  packages/server2/src/app.module.ts
  packages/server2/src/board/board.service.ts
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/types.ts
  packages/server2/src/fcm/fcm.module.ts
  packages/server2/src/fcm/fcm.service.ts
  packages/server2/src/fcm/fcm.spec.ts
  packages/server2/src/user/user.service.ts
  packages/server2/src/weather/weather.service.ts
  yarn.lock
Labels: 🖥 Server, ♻️ Refactor

#590 [admin] 사용하지 않는 컴포넌트 제거
  packages/admin/src/components/Editor/index.tsx
  packages/admin/src/components/Editor/style.module.scss
Labels: 🤵‍♂️ Admin

#594 [server] 학교 씨드 데이터 추가
  packages/server2/src/place/dto/create-place.dto.ts
  packages/server2/src/school/dto/create-school.dto.ts
  packages/server2/src/school/school.spec.ts
Labels: 🖥 Server, 🗃 Database

#592 [server] 로그인 API 및 Admin Guard 구현
  packages/server2/package.json
  packages/server2/src/admin/admin.controller.ts
  packages/server2/src/admin/admin.module.ts
  packages/server2/src/admin/admin.service.ts
  packages/server2/src/admin/admin.swagger.ts
  packages/server2/src/admin/dto/create-admin.dto.ts
  packages/server2/src/admin/dto/login.dto.ts
  packages/server2/src/admin/dto/response-login.dto.ts
  packages/server2/src/admin/entities/admin.entity.ts
  packages/server2/src/admin/gurads/admin.guard.ts
  packages/server2/src/admin/gurads/super.guard.ts
  packages/server2/src/article/article.controller.ts
  packages/server2/src/article/article.module.ts
  packages/server2/src/board/board.controller.ts
  packages/server2/src/cafeteria-menu/cafeteria-menu.controller.ts
  packages/server2/src/common/jwt/jwt.service.ts
  packages/server2/src/common/jwt/jwt.strategy.ts
  packages/server2/src/config/configuration.help.ts
  packages/server2/src/config/swagger.config.ts
  packages/server2/src/config/types.ts
  packages/server2/src/image/image.controller.ts
  packages/server2/src/schedule/schedule.controller.ts
  packages/server2/src/school/school.controller.ts
  packages/shared/src/swagger-api/generated/index.ts
  packages/shared/src/swagger-api/generated/models/CreateArticleDto.ts
  packages/shared/src/swagger-api/generated/models/CreatePlaceDto.ts
  packages/shared/src/swagger-api/generated/models/LoginDto.ts
  packages/shared/src/swagger-api/generated/models/ResponseLoginDto.ts
  packages/shared/src/swagger-api/generated/services/AdminApiService.ts
  yarn.lock
Labels: 👽 API, 🖥 Server, ♻️ Refactor
